/*
 * Font Stacks
 ***************************/
@font-face {
  font-family: 'Domaine';
  src: url("../fonts/Domaine/DomaineDisplayWeb-Bold.eot");
  src: url("../fonts/Domaine/DomaineDisplayWeb-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Domaine/DomaineDisplayWeb-Bold.woff2") format("woff2"), url("../fonts/Domaine/DomaineDisplayWeb-Bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Domaine';
  src: url("../fonts/Domaine/DomaineDisp-Semibold.otf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Domaine';
  src: url("../fonts/Domaine/DomaineDisplayWeb-BoldItalic.eot");
  src: url("../fonts/Domaine/DomaineDisplayWeb-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Domaine/DomaineDisplayWeb-BoldItalic.woff2") format("woff2"), url("../fonts/Domaine/DomaineDisplayWeb-BoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

.Domaine {
  font-family: 'Domaine';
}

.Domaine-italic {
  font-family: 'Domaine';
  font-style: italic;
}

/*
 * Font Styles
 *
 * @parameter $responsive : boolean, whether the font style needs responsive styles
 * @parameter $mobile : boolean, whether to only output mobile style
 ***************************/
/* H1 */
/* H1 components */
/* H2 */
/* H2 Components */
/* H3 */
/* H4 Components */
/* H4 */
/* H4 Components */
/* H5 */
/* H5 Components */
/* H6 */
/* H6 Components */
/* Paragraph */
/* Paragraph Components */
/* Nav Font */
/* Nav Font Components */
/* Caption Font */
/* Caption Font Components */
/* Button Font */
/* Button Font Components */
