/*
 * Colors
 ***************************/
  /* Brand colors */
    $toro_red : #EA0029;
    $oro_yellow : #FFF065;
  /* Grayscale */
    $white : #FFFFFF;
    $mid_grey : #474746;
    $light_grey : #D8D8D8;
    $black : #000000;
  /* Location specific */
    /* Lena */
      $lena_fuchsia : #CE009F;
      $lena_orange : #FF9E18;
    /* Mar */
      $mar_navy : #002C50;
      $mar_chambray : #375494;
    /* Spanish Diner */
      $diner_orange : #FEC13F;
      $diner_grey : #1A171B;