.contact-us-page-container{
	margin-bottom:80px;

	.content-margins {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

	}

	.contact__left, .contact__right {
		width: 50%;
	}
	.hours {
		margin-top: 12px;
}	.contact__right{
		padding-left: 30px;
		@media (max-width: 767px){
			padding-left:0px;
		}

	}
	.contact__title {
		font-family: $knockout-bantam;
	    font-weight: initial;
	    font-size: 12em;
	    padding: 15px 0px 0px 0px;
	    color: $mid_grey;
	    margin-bottom: 0.15em;
	    text-transform: uppercase;
			@media (max-width: 767px){
				font-size: 10em;
			}
	}

	.info-red, .contact-info p, .contact-info a {
	    text-transform: uppercase;
	   	font-family: $knockout-bantam;
	    font-weight: initial;
	    color: $toro_red;
	    font-size: 4.8rem;
	    line-height: 0.95em;
	    letter-spacing: 1.5px;
	}
	.contact-info p{
		margin-bottom: 0px;
	}
	.contact__email-num{
		margin-top: 30px;
	}
	.info-red a {
		text-decoration: underline;
	}
	.info-grey {
		 text-transform: uppercase;
		   	font-family: $knockout-lite;
		    font-weight: initial;
		    color: $mid_grey;
		    font-size: 4rem;
		    line-height: 0.95em;
		    letter-spacing: 1.4px;
	}
	.address {
		margin-bottom: 0.5em;
	}
	.hours__info {
    font-size: 4.3rem;
		// white-space: nowrap;

		span{
			color: #474746;
			white-space: nowrap;
		}

	}
	.map-section {
		width: 100%;

	}
	#map-container {
		width: 100%;
		height: 500px;
		border: 2px solid $toro_red;
		padding: 2em;
	}
	#map {
            width: 100%;
            height: 100%;
	}
	@media screen and (max-width: 1024px) {
		.contact__left {
			width: 40%;
			.hours__info{
				margin-bottom: 20px;
			}
		}
		.contact__right {
			width: 60%;
		}
	}
	@media screen and (max-width: $mobile_max) {
		.contact__left, .contact__right {
			width: 100%;
		}
		.contact-info, .hours {
			height: auto;
		}
		.contact-info, .hours {
			margin-bottom: 6em;
		}
		.map-section {
			margin-bottom: 18em;
		}
	}
}
