$header_height_desktop : 106px;
$header_height_mobile : 58px;
$desktop_mid : 900px;
/*D*/
/*D*/
/*JJ*/
/*F*//*F*/
#masthead {
  //position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: $header_height_desktop;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  background: white;
  border-bottom: 2px solid $toro_red;
  position: fixed;
  z-index: 10;
  pointer-events: none;
  @media screen and (max-width: 1030px) {
    height: $header_height_mobile;
    padding-left: $gutter_width_mobile;
    padding-right: 0;
  }

  .site-branding, #skip-to-navigation-link, #site-navigation{
    pointer-events: auto;
  }
}

.current-home{
  #masthead{
    @media (max-width: 767px){
      border-bottom: 0px;
      height: auto;
      background-color: transparent;
      transition: ease 250ms all;
      border-bottom: 2px solid transparent;
      #skip-to-navigation-link{
        width: calc(25% + 8px);
        height: 0;
        padding-bottom: calc(25% + 8px);
        position: relative;
        transition: ease 250ms all;
        svg{
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          margin: auto;
        }
      }
      .site-branding{
        opacity: 0;
        transition: ease 250ms all;
      }


      &.logo-show{
        background-color: white;
        border-bottom: 2px solid $toro_red;
        #skip-to-navigation-link{
          width: 70px;
          padding-bottom: 70px;
        }
        .site-branding{
          opacity: 1;
        }
      }
    }
  }
}


#masthead-logo {
  flex: 0 0 auto;
  margin-right: 32px;
  display: block;
  color: $toro_red;
  // height: 45px;
  svg {
    height: 40px;
    // max-width: 212px;
    // max-height: 45px;
  }
}




#site-navigation {
  width: 100%;
  display: flex;
  // justify-content: flex-end;

  > ul {
    @media screen and (min-width: 1030px) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      color: $toro_red;
      text-align: center;
      > li {
        padding: 0 16px;
        margin: 0 -16px;
        a {
          @include nav-font-style;
          color: inherit;
          text-decoration: none;
          margin: 12px 16px;
          display: block;
          font-family: $knockout-feather;
          letter-spacing: 0.016em;
          position: relative;
          &:after{
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            margin: auto;
            width: 00;
            height: 2px;
            background-color: $toro_red;
            transition: ease 300ms all;
          }
          &:hover{
            &:after{
              width: 100%;
            }
          }
        } &.has-children {
          position: relative;
          z-index: 1;
          ul {
            display: block;
            opacity: 0;
            pointer-events: none;
            position: absolute;
            left: 0;
            top: 100%;
            width: 100%;
            height: auto;
            background: $toro_red;
            color: $white;
            transition: ease 250ms all;
            li {
              padding: 0 16px;
              a {
                border-top: 2px solid $oro_yellow;
              } &.dupe {
                display: none;
                @media screen and (max-width: 1030px) {
                  display: block;
                }
              }
            }
          } &:hover, a:focus, &:focus-within {
            background: $toro_red;
            color: $white;
            ul, + ul {
              // display: block;
              opacity: 1;
              pointer-events: auto;


            }
          }
        }
      }
    }
    @media screen and (max-width: 1030px) {
      // display: none ;
    }
  } > .mobile-nav-header {
    display: none;
  }
  @media screen and (max-width: 1030px) {
    flex: 0 0 0;
    position: fixed;
    z-index: 10;
    top: 100vh;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    // opacity: 0;
    transform: translateY(0);
    transition: ease 500ms all;
    width: 100vw;
    height: 100vh;
    .nav-menu{
      li.nav-item{
        opacity: 0;
      }
    }
    > ul {
      display: block;
      width: 100%;
      max-width: 224px;
      > li {
        color: $white;
        text-align: center;
        @include nav-font-style;
        padding: 16px 0;
        border-bottom: 3px solid $oro_yellow;
        a {
          color: $white;
          text-decoration: none;
          transition: ease 250ms all;
          &:hover {
            color: $oro_yellow;
          }
        } &.has-children {
          > a {
            position: relative;
            &::before {
              @include psuedo;
              right: -24px;
              top: calc(50% - 8px);
              width: 8px;
              height: 8px;
              border-bottom: 2px solid white;
              border-right: 2px solid white;

              // background: url('../img/carousel-arrow-white.svg');
              // background-size: contain;
              // background-repeat: no-repeat;
              // background-position: center center;
              @include transform(rotate(45deg));
              transition: ease 300ms all;
            } &.expanded {
              &::before {
                @include transform(rotate(-135deg) translateY(-0.15em) translateX(-0.15em));
              }
            }
          } ul {
            display: none;
          } &.expanded {
            > a {
              color: $oro_yellow;
            } ul {
              margin-top: 2px;
            }
          }
        }
      }
    }
    > .mobile-nav-header {
           display: flex;
           flex-direction: row;
           align-items: center;
           justify-content: space-between;
           width: 100%;
           padding: 0 $gutter_width_mobile;
           margin-top: 24px;
           a {
             display: block;
             color: $white;
             text-decoration: none;

             &:hover {
               color: $oro_yellow;
             }
           } .mobile-nav-header-logo {
             svg {
               height: 40px;
               width: 40px;
             }
           } .mobile-nav-header-close {
             font-size: 4rem;
             width: 22px;
             height: 40px;
             margin-right: 12px;
           }
         }
     &.opened {
       transform: translateY(-100%);
       // opacity: 1;
      background: $toro_red;
      .nav-menu{
        li.nav-item{
          opacity: 1;
          transition: ease 700ms all;
          &:nth-child(1){
            transition-delay: 100ms;
          }
          &:nth-child(2){
            transition-delay: 200ms;
          }
          &:nth-child(3){
            transition-delay: 300ms;
          }
          &:nth-child(4){
            transition-delay: 400ms;
          }
          &:nth-child(5){
            transition-delay: 500ms;
          }
          &:nth-child(6){
            transition-delay: 600ms;
          }
          &:nth-child(7){
            transition-delay: 700ms;
          }
          &:nth-child(8){
            transition-delay: 800ms;
          }
        }
      }

    }
  }
}

#skip-to-navigation-link {
  display: none;
  @media screen and (max-width: 1030px) {
    display: block;
    height: 58px;
    width: 58px;
    background: $toro_red;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    svg {
      width: 24px;
      height: 24px;
    }
    &.opened{
      svg{
        .ham:nth-child(1){
          animation: svgFade 200ms forwards;
          animation-delay: 0s;
        }
        .ham:nth-child(2){
          animation: svgFade 300ms forwards;
          animation-delay: 50ms;
        }
        .ham:nth-child(3){
          animation: svgFade 400ms forwards;
          animation-delay: 100ms;
        }
      }
    }
  }
}
@keyframes svgFade{
  0%{
    transform: translateY(0px);
    opacity: 1;
  }
  50%{
    // transform: translateY(-10px);
  }
  100%{
      transform: translateY(-10px);
      opacity: 0;
  }
}


#content {
  margin-top: $header_height_desktop;
  @media (max-width: 1030px){
    margin-top: $header_height_mobile;
  }

}

.current-home #content{
  @media (max-width: 767px){
    margin-top: 0px;
  }
}

.branding-header-logo{
  line-height: 0px;
}

.nav-menu{
  max-width: 1000px;
  width: 100%;
}

.nav-item{
  transition: ease 250ms all;
  &.current_page{
    a{
      @media (max-width: 1030px){
        // color: $oro_yellow !important;
      }
      &:after{
        width: 100% !important;
      }
    }
  }
}


.nav-children{
  .nav-item{
    a{
      margin: 0px !important;
      padding: 12px 16px;
      &:after{
        display: none;
      }
    }
  }
}

.mobile-social-menu{
  display: none;
  border: 0px !important;
  margin-top: 20px;
  a{
    margin: 0 10px;
  }
  img{
    height: 20px;
    width: auto;
  }
  @media (max-width: 1030px){
    display: block;
  }
}
