.section-title-container{
  position: relative;
  border: 2px solid $toro_red;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;

  img{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;

  }
  &:before{
    height: 100%;
    width: 100%;
    content: '';
    position: absolute;
    left: 0;
    top:0;
    z-index: -1;
    // border-style: solid;
    // border-width: 30px 30px 0 0;
    // border-color: $oro_yellow transparent transparent transparent;
    // background-image: url('../img/yellow_triangle.png');
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center;
  }
  h2{
    text-transform: uppercase;
    font-weight: initial;
    font-family: $knockout-bantam;
    color: $toro_red;
    font-size: 90px;
    text-align: center;
    @media (max-width: 767px){
      font-size: 86px;
    }

  }
}

.shop-little-spain-shops{
  .kiosk-box{
    @media (max-width: 767px){
      width: 100% !important;
    }
  }
}

.home-description{
  margin-bottom: 50px;
  .home-desc-inner{
    background-color: $toro_red;
    font-family: $domaine;
    color: white;
    text-align: center;
    padding: 20px 60px;
    max-width: 80%;
    margin: auto;
    @media (max-width: 1200px){
      max-width: unset;
    }
    @media (max-width: 767px){
      padding: 20px 40px;
    }
    h2{
      font-family: $knockout-bantam;
      margin-bottom: 20px;
      color: white;
    }
    p{
      margin-bottom: 20px;
      color: white;
    }
    a{
      display: inline-block;
      margin: 20px 0;
      font-family: $knockout;
      text-decoration: none;
    }
  }
}

.home-restaurants-container{
  margin-bottom: 50px;
}

.home-restaurant-box{
  border: 2px solid $toro_red;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 767px){
    flex-direction: column;
  }
  &:nth-child(even){
    flex-direction: row-reverse;
    @media (max-width: 767px){
      flex-direction: column;
    }
  }

  .home-rest-img{
    padding: 10px;
    width: 75%;

    @media (max-width: 1200px){
      width: 66%;
    }
    @media (max-width: 767px){
      width: 100%;
    }


    // .home-rest-img-cont{
    //   height: 0;
    //   padding-bottom: 50%;
    //   position: relative;
    // }

    img{
      // position: absolute;
      // left: 0;
      // top: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .home-rest-info{
    width: 25%;
    border-left: 2px solid $toro_red;
    @media (max-width: 1200px){
      width: 34%;
    }
    @media (max-width: 767px){
      width: 100%;
      border: 0px;
    }

    .home-rest-name{
      background-color: $toro_red;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 35px 50px;
      margin-bottom: 15px;
      h4{
        color: white;
        text-transform: uppercase;
        font-family: $knockout-feather;
      }
    }
    .home-rest-caption{
      display: flex;
      align-items: center;

      text-align: center;
      flex-direction: column;
      padding: 10px;
      p{
        margin-bottom: 20px;
        font-family: $knockout;

        font-weight: 100;
      }
      .home-rest-links{
        display: flex;
        flex-direction: column;
        @media (max-width: 767px){
          flex-direction: row;
        }
        @media (max-width: 500px){
          flex-direction: column;
        }
      }
      .more-info{
        color: $toro_red;
        text-decoration: none;
        border: 2px solid $toro_red;
        margin-bottom: 25px;
        width: 150px;
        padding:  15px 0;
        transition: ease 300ms all;
        &:hover{
          color: white;
          background-color: $toro_red;
        }
        @media (max-width: 767px){
          margin: 0 10px 25px 10px;
        }
        @media (max-width: 500px){
          margin: 0 10px 15px 10px;
        }
      }
    }
  }
  &:nth-child(even){
    .home-rest-info{
      border-right: 2px solid $toro_red;
      border-left: 0px;
      @media (max-width: 767px){
        border: 0px;
      }
    }
  }
}


.home-mercado-kiosks{
  display: flex;
  justify-content: space-between;
  @media (max-width: 920px){
    justify-content: space-around;
  }
  flex-wrap: wrap;
  .home-mercado-kiosk{
    width: 18.5%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    @media (max-width: 920px){
      width: 23.5%;
    }
    @media (max-width: 767px){
      width: 48.5%;
    }
    a{
      text-decoration: none;
      &:hover h6{
        opacity: 1;
      }
    }
    .home-mercado-kiosk-img{
      margin-bottom: 15px;
      position: relative;
      h6{
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        background-color: rgba(255, 240, 101, 0.9);
        color: $toro_red;
        font-family: $domaine;
        font-size: 25px;
        text-align: center;
        line-height: 1.2em;
        font-weight: 900;
        padding: 10px;
        opacity: 0;
        transition: 300ms ease all;
      }
    }
    img{
      height: auto;
      width: 100%;
      border: 2px solid $toro_red;
    }
    h5{
      color: $toro_red;
      font-family: $domaine;
      text-align: center;
      font-size: 20px;
      font-weight: 900;
      line-height: 1.2em;
    }
  }
}

.home-happenings, .home-mercado, .home-shop, .home-el-blog{
  margin-bottom: 40px;
}
.happenings-events{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  .happenings-event{
    width: 24%;
    padding: 10px;
    border: 2px solid $toro_red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    transition: 250ms ease background-color, 250ms ease color;

    .happenings-upper{
      margin-bottom: 20px;
    }
    h6{
      font-family: $domaine;
      font-weight: 100;
      margin-bottom: 5px;
      	color: #474746;
        transition: 250ms ease all;
    }
    h3{
      text-transform: uppercase;
      color: $toro_red;
      font-family: $knockout-lite;
      font-size: 40px;
      line-height: 1em;
      margin-bottom: 7px;
      transition: 250ms ease all;
    }
    p{
      	color: #474746;
        transition: 250ms ease all;
    }
    &:hover{
      background-color: $toro_red;
      color: white;
      h3{
        color: $oro_yellow;
      }
      p{
        	color: white;
      }
      h6{
        color: white;
      }
    }
    .happenings-img{
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      position: relative;
    }
    img{
      position: absolute;
      left: 0;
      top:0;

      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

.home-happenings{
  .happenings-events{
    @media (max-width: 667px){
      flex-wrap: wrap;
    }
    .happenings-event{
      @media (max-width: 1200px){
        width: 32%;
        &:last-child(){
          display: none;
        }
      }
      @media (max-width: 667px){
        width: 100%;
        margin-bottom: 30px;
        &:last-child(){
          display: block;
        }
      }
    }

  }
}

.home-shop{
  .kiosk-grid{
    article.kiosk-box{
      h6{
        font-family: $knockout-lite;
        text-transform: uppercase;
        font-size: 35px;
      }
      .gift-card-img{
        padding-bottom: 100%;
        height: 0;
        position: relative;
        width: 100%;
        .gift-card-img-text{
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px;
          border: 2px solid $toro_red;
          span{
            background-color: $toro_red;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 10px 50px;
            font-family: $knockout-bantam;
            color: $oro_yellow;
            text-transform: uppercase;
            font-size: 55px;
            height: 100%;
            width: 100%;
            letter-spacing: 0.04em;
            @media (max-width: 920px) and (min-width: 768px){
              font-size: 35px;
            }
          }
        }
      }
    }

  }
}

.home-el-blog-posts.blog-articles-container{
  display: flex;
  justify-content: space-between;
  // flex-wrap: wrap;
  margin-bottom: 30px;
  @media (max-width: 767px){
    flex-wrap: wrap;
  }

}
.single-blog-arrow{
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: $toro_red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  svg{
    height: 25px;
    path{
      fill: white;
    }
  }
}
.blog-post:hover{
  .single-blog-arrow{
    background-color: white;
    svg path{
      fill: $toro_red;
    }
  }
}
.home-hero{
  // margin-bottom: 50px;
  img{
    width: 100vw;
  }
  .home-hero-mobile{
    display: none;
  }
  @media (max-width: 767px){
    position: relative;
    // height: 80vh;
    width: 100%;
    overflow: hidden;
    .home-hero-mobile{
      display: block;
    }
    .home-hero-image{
      display: none;
    }
  }

}

.home-slides{
  margin-bottom: 50px;
}
.home-slide{
  width: 100%;
  height: 50vw !important;
  position: relative;
  @media (max-width: 920px){
    height: 60vw !important;
  }
  @media (max-width: 767px){
    height: auto !important;
    display: flex !important;
    flex-direction: column;
  }

  .home-slide-info{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    .content-margins{
      position: relative;
      height: 100%;
    }
    @media (max-width: 767px){
      position: relative;
      height: auto;
      .content-margins{
        width: 100%;
        margin: 0px;
      }
    }
  }
  .home-slide-img{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;

  @media (max-width: 767px){
    position: relative;
    height: 90vw;
    width: 100%;
    object-fit: cover;
  }

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .home-slide-info-cont{
    border: 2px solid $toro_red;
    background-color: white;
    position: absolute;
    left: 0;
    top: 60%;
    width: 400px;
    @media (max-width: 767px){
      position: relative;
      width: 100%;
      bottom: 0px;
      top: auto;
    }
    @media (max-width: 920px){
      top: 50%;
    }
    @media (min-width: 921px){
      top: 23vw;
    }

    @media (min-width: 1000px){
      top: 25vw;
    }

    @media (min-width: 1200px){
      top: 30vw;
    }

    @media (min-width: 1600px){
      top: 35vw;
    }

    h3{
      border-bottom: 2px solid $toro_red;
      background-color: $oro_yellow;
      color: $toro_red;
      text-transform: uppercase;
      font-family: $knockout-feather;
      letter-spacing: 0.017em;
      font-size: 50px;
      font-weight: 700;
      padding: 10px;
    }
    .home-slide-desc{
      padding: 10px;
      p{
        font-weight: 100;
        color: #474746;
      }
    }
    .home-slide-buttons{
      border-top: 2px solid $toro_red;
      display: flex;
      justify-content: space-between;

      a{
        text-transform: uppercase;
        width: 100%;
        padding: 10px 0;
        text-align: center;
        border-right: 2px solid $toro_red;
        color: $toro_red;
        font-family: $knockout-bantam;
        font-size: 24px;
        transition: ease 250ms all;
        &:hover{
          color: white;
          background-color: $toro_red;
        }
        &:last-child{
          border-right: 0px;
        }
      }
    }
  }
}
.home-slides{
  .home-slide-controls{
    display: flex;
  }
}

.home-slide-controls{
  position: absolute;
  bottom: 100%;
  border:2px solid $toro_red;
  left: -2px;
  background-color: white;
  // display: flex;
  user-select: none;
  display: none;
  button{
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    border-right: 2px solid $toro_red;
    cursor: pointer;
    transition: ease 250ms background-color;
    background-color: white;
    margin: 0px;
    img{
      height: 20px;
      width: auto;
      &.hover-image{
        display: none;
      }
    }
    &:hover{
      background-color: $toro_red;
      img{
        display: none;
        &.hover-image{
          display: block;
        }
      }
    }

    &.home-slide-prev{
      img{
        transform: rotate(180deg);
      }
    }
  }
  .home-slide-current{
    font-family: $domaine;
    color: $toro_red;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
  }
}

.home-see-more-button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
  a.more-info{
    border-color: $toro_red;
    color: $toro_red;
    font-family: $knockout-feather;
    transition: ease 250ms all;

    &:hover{
      color: white;
      background-color: $toro_red;
    }
  }
}

.home-shop-cont .kiosk-grid{
  .kiosk-box{
    margin-bottom: 20px;
  }
}
