body, html {
  // width: 100%;
  // height: 100%;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: $knockout;
  box-sizing: border-box;

  overflow-x: hidden;
  -webkit-overflow-scrolling:touch !important;
  position: relative;
}

body * {
  box-sizing: border-box;

}

h1 {
  @include h1-style;
  font-family:$knockout-bantam;
}

h2 {
  @include h2-style;
}

h3 {
  @include h3-style;
}

h4 {
  @include h4-style;
}

h5 {
  @include h5-style;
}

h6 {
  @include h6-style;
}

p {
  @include p-style;
  a{
    text-decoration: underline;
  }
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    padding: 0;
    margin: 0;
  }
}

svg {
  fill: currentColor;
}
a{
  text-decoration: none;

}
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
  &:focus {
    background-color: $toro_red;
    clip: auto !important;
    clip-path: none;
    color: white;
    display: block;
    @include p-style;
    height: auto;
    left: 0;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
  }
}

.content-margins {
  @include content-margins;
}
.more-info{
  border: 2px solid white;
  text-transform: uppercase;
  padding: 15px 60px;
  font-size: 20px;
  color: white;
  display: inline-block;
  font-family: $knockout-lite !important;
  letter-spacing: 0.05em;
}


.page-landing-header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 2px solid $toro_red;
  margin-bottom: 30px;
  align-items: center;
  @media (max-width: 767px){
    border: 0px;
  }
  h1{
    text-transform: uppercase;
    color: $mid_grey;
    font-family: $knockout-bantam;
    font-weight: initial;
    font-size: 110px;
    white-space: nowrap;
    @media (max-width: 1000px){
      font-size: 80px;
    }
    @media (max-width: 767px){
      width: 100%;
      white-space: normal;
      text-align: center;
      line-height: 1em;
    }

  }

  h2{
	  color:$mid_grey;
	   font-family: $knockout-lite;
	       font-size: 6em;
	       line-height: .8em;
	       text-transform: uppercase;

  }
  img{
    width: 100%;
    height: auto;
    @media (max-width: 767px){
      display: none;
    }
  }
  .page-header-icon-left,.page-header-icon-right{
    width: 150px;
    height: 150px;
    padding: 15px;
    img{
      border: 2px solid $toro_red;
    }
    @media (max-width: 767px){
      display: none;
    }
  }
  .page-header-icon-left{
    border-right: 2px solid $toro_red;
  }
  .page-header-icon-right{
    border-left: 2px solid $toro_red;
  }
}



// .header-icon-right{
//   border-left: 2px solid $toro_red;
// }
// .header-icon-left{
//   border-right: 2px solid $toro_red;
// }

.hide-overflow{
  overflow: hidden;
}
