#newsletter-popup {
  outline: none;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 33px 0;
  background: $toro_red;
  color: white;
  text-align: center;
  z-index: 20;
  opacity: 0;
  pointer-events: none;
  @include transform(translateY(100%));
  transition: transform 0.4s, opacity 0.4s;

  &.opened, &:target {
    opacity: 1;
    pointer-events: auto;
    @include transform(translateY(0));

  }
  @media screen and (max-width: $mobile_max) {
    height: 100%;
    overflow-y: scroll;
    @include transform(scale(1.05));
    > .content-margins {
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      // justify-content: center;
      // height: 100%;
    } &.opened, &:target {
      @include transform(translateY(0));
    }
  }
  .red-input{
    padding: 5px 24px !important;
  }
}

#newsletter-popup-title {
  @include h1-style;
  text-transform: uppercase;
  color: $oro_yellow;
  margin: 0;
  font-family: $knockout-bantam;
  font-size: 70px;
  line-height: 1em;
  @media screen and (max-width: $mobile_max) {
    text-transform: uppercase;
    // max-width: 240px;
    font-size:6rem;
    line-height: 1em;
  }
}

#newsletter-popup-blurb {
  @include h5-style;
  font-family: $domaine;
  margin: 10px auto 15px auto;
  max-width: columns(10);
  color: white;
  @media screen and (max-width: $mobile_max) {
    max-width: unset;
    padding: 0 32px;
    margin: 15px auto ;
  }
}

#newsletter-popup{
  .red-input{
    border: 2px solid $white !important;
  }
  .outline-button {
    border-color: $white !important;
    color: $white !important;
    &:hover {
      color: $toro_red !important;
      background-color: white !important;
    }

  }
  .form-fields__fields-wrapper{
    input{
      font-size: 20px;

    }
  }
  @media(max-width: 767px){
    .field{
      margin-bottom: 10px;
    }
  }

}


.red-input {
  &.inverted {
    border: 2px solid $white;
  }
}
.outline-button {
  &.inverted {
    border-color: $white;
    color: $white;
    &:hover {
      color: $toro_red;
      background-color: white;
    }
  }
}

#newsletter-popup-capture {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  max-width: columns(10,-2);
  margin: 0 auto;
  label {
    flex: 1 0 0;
  } button {
    flex: 0 0 auto;
    border-left: 0;
  } @media screen and (max-width: $mobile_max) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    label {
      width: 100%;
      flex: initial;
      margin-bottom: 24px;
    } button {
      flex: initial;
      border-left: 2px solid $white;
    }
  }
}

#newsletter-popup-close {
  font-size: 5.6rem;
  width: 22px;
  height: 40px;
  margin-right: 12px;
  position: absolute;
  right: 42px;
  top: 42px;
  color: $white;
  display: block;
  text-decoration: none;
  cursor: pointer;
  @media screen and (max-width: $mobile_max) {
    right: 10px;
    top: 10px;
    font-size: 30px;
  }
}
