.restaurant-single{
  padding-top: 30px;
  width:100%;
  @media (max-width: 767px){
    padding-top: 0px;

  }
}

.restaurant-header-mobile{
  display: none;
  @media (max-width: 767px){
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    margin-bottom:30px;
    h1{
      line-height: 0em;
    }
    img{
      width:100%;
      object-fit: cover;
margin:0px;

    }
  }
}
.restaurant-header{
  margin-bottom: 30px;
  @media (max-width: 767px){
    display: none;
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.restaurant-content{
  border-width: 2px;
  border-style: solid;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  @media (max-width: 1024px){
    flex-direction: column;
  }
  .restaurant-single-info{
    width: 33%;
    border-right: inherit;
    flex-direction: column;
    @media (max-width: 1024px){
      width: 100%;
      border-right: 0px;
    }
    .restaurant-single-content{
      padding: 30px 35px;
      border-bottom-width: 2px;
      border-bottom-style: solid;
      // flex-grow: 1;
      height: 70%;
      @media (max-width: 1024px){
        border-bottom-width: 0px;
      }
      p{
        strong{
          font-size: 55px;
          // font-weight: 900;
          text-transform: uppercase;
          font-family: $knockout-bantam;
          display: block;
          padding: 20px 0 15px 0;
        }
      }
      @media (max-width: 1024px){
        height: auto;
        padding: 40px 70px;
        p strong{
          display: inline-block;
        }
      }
      @media(max-width: 767px){
        padding: 20px;
        p strong{
          font-size: 50px;
          padding: 20px 5px 10px 0;
        }
      }
    }

    .rest-single-map{
      height: 30%;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 1024px){
        height: auto;
        border-bottom-width: 2px;
        border-top: 2px solid;
        border-bottom-style: solid;
      }
      img{
        height: auto;
        width: 100%;
        // object-fit: contain;
      }
    }
  }
  .restaurant-single-info.rest-right-col{
    width: 67%;
    border: none;
    display: flex;
    flex-direction: column;
    @media (max-width: 1024px){
      width: 100%;
    }
    .rest-single-gallery{
      // padding: 10px;
      border-bottom-width: 2px;
      border-bottom-style: solid;
      position: relative;
      // height: 0;
      // padding-bottom: 98%;
    }
    .rest-contact{
      // height: 100%;
      padding: 30px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      .rest-contact-inner {
        padding: 0 20px;
        h4{
          font-family: $knockout-bantam;
          font-weight: initial;
          line-height: 1em;
        }
      }
    }
  }

}

.rest-single-menus{
  margin-bottom: 50px;
  .rest-single-menu-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    h2{
      text-transform: uppercase;
      color: white;
      font-size: 75px;
      font-family: $knockout-bantam;
      font-weight: initial;
    }
  }
  .rest-single-menu-select{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    @media(max-width: 767px){
width:100%;
flex-direction: column;
.menu-button{margin:7px 0px;}

    }
    .rest-single-menu-title{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      text-transform: uppercase;
      border-style: solid;
      border-width: 2px;
      height: 40px;
      margin-right: 10px;
      font-size: 18px;
      font-family: $knockout-bantam;
      letter-spacing: 0.03em;
      cursor: pointer;
      background-color: transparent;
      h3{
        text-transform: uppercase;
        color:black;
      }
      &.active{
        color: white;
        h3{
          color:white;
        }
      }
      &:last-child{
        margin-right: 0px;
      }
    }
  }
  .rest-single-menu-cont{
    border-style: solid;
    border-width: 2px;
    border-top:none;
    display: none;

    &.active{
      display:block;
    }
.menu-section{

    h4{
      font-size:5em;
      text-align: center;
      width: 100%;
      padding:20px 0px;
      font-family: $domaine;
border-left:none;
border-right:none;
    }

    .allItems{
      padding:40px 110px;
      display: flex;
      flex-wrap: wrap;
      @media (max-width: 767px){
        padding:20px 10px;
      }
    }
    .item{
      width:50%;
      box-sizing: border-box;
      padding:10px;
      display: flex;
      flex-direction: row;
      @media (max-width: 767px){
        width:100%;
      }

      .itemdesc{
        width:85%;
      .itemName{
        text-transform: uppercase;
      }
    }

    }
  }
  }
}



.rest-single-join-us{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px;
  margin-bottom: 50px;
  @media (max-width: 920px){
    flex-direction: column;
    padding: 30px;
  }
  .rest-single-join-us-content{
    width: 60%;

    @media (max-width: 920px){
      width: 100%;
      margin-bottom: 40px;
    }

    h3{
      font-size: 100px;
      line-height: 0.9em;
      margin-bottom: 20px;
      text-transform: uppercase;
      font-weight: initial;
      font-family: $knockout-bantam;
      color: white;
      @media (max-width: 767px){
        font-size: 70px;
      }
    }
    p{
      text-transform: uppercase;
      font-size: 50px;
      line-height: 1.3em;
      font-family: $knockout-bantam;
      margin-bottom: 20px;
      color: white;
      @media (max-width: 767px){
        line-height: 1em;
        font-size: 30px;
      }
    }
    .more-info{
      @media (max-width: 767px){
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .rest-single-join-us-img{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      max-width: 250px;
      height: auto;
    }
    @media (max-width: 920px){
      width: 100%;
      img{
        max-width: 150px;
      }
    }
  }
}

.rest-spanish-diner{
  .rest-single-menus .rest-single-menu-select .rest-single-menu-title{
    color: black;
    &.active{
      color: black;
    }

  }
  .active h3, .rest-single-menus .rest-single-menu-select .rest-single-menu-title h3{
    color:black !important;
  }

  .rest-single-menu-header{
    h2{
      color: black;
    }
  }
  .rest-single-join-us{
    .rest-single-join-us-content{
      h3, p{
        color: black;
      }
      .more-info{
        border-color: black;
        color: black;
      }
    }
  }
}


.rest-single-gallery-img{
  // position: absolute;
  width: 100%;
  height: 0;
  padding-bottom: 98%;
  position: relative;
  img.rest-single-img{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding: 10px;
  }
  .rest-single-gallery-controls{
    position: absolute;
    left: 20px;
    bottom: 20px;
    display: flex;
    border-width: 2px;
    border-style: solid;
    align-items: center;
    margin-right: 20px;
    button{
      display: none;
      border: 0px;
      background-color: white;
      border-right: inherit;
      svg{
        height: 20px;
      }
      &.rest-slide-prev{
        svg{
          transform: rotate(180deg);
        }
      }
    }
    .rest-slide-current{
      padding: 10px 20px;
      font-family: $domaine;
      font-weight: 800;
      font-size: 14px;
      display: flex;
      align-items: center;
      span{
        font-family: $knockout;
        color: black;
        margin-left: 10px;
        display: inline-block;
        text-transform: uppercase;
        font-size: 12px;
      }
    }
  }
}

.rest-single-gallery.slick-initialized .rest-single-gallery-controls, .content-gallery-inner.slick-initialized .rest-single-gallery-controls{
  button{
    display: block;
  }
}
