.kiosk-grid, .bars-grid{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .kiosk-box{
    width: 32%;
    margin-bottom: 50px;
    @media (max-width: 767px){
      width: 47%;
    }
    a{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      h6{
        margin-top: 10px;
        padding: 0 10px ;
        text-align: center;
        font-size: 28px;
        color: $toro_red;
        font-family: $domaine;
        font-weight: 800;
        line-height: 1.2em;
        @media (max-width: 767px){
          font-size: 20px;
        }
      }
    }
    .kiosk-box-img{
      margin-bottom: 15px;
      position: relative;
      .kiosk-bar-hover-img{
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        font-family: $domaine;
        font-size: 25px;
        text-align: center;
        line-height: 1.2em;
        font-weight: 900;
        padding: 10px;
        opacity: 0;
        transition: 300ms ease all;
        .img-fade{
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          background-color: rgba(0,0,0,0.3);
        }
        h4{
          position: relative;
          z-index: 2;
          color: $oro_yellow;
          @media (max-width: 1050px){
            font-size: 25px;
          }
        }
        img{
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border: 0px;
          z-index: 0;
        }
      }

      h6{
        color: $oro_yellow;
        position: relative;
        z-index: 2;
        font-size: 20px;
      }
    }
    img{
      width: 100%;
      height: auto;
      border: 2px solid $toro_red;
    }
    &:hover .kiosk-bar-hover-img{
      opacity: 1;
    }
  }
}


.ig-boxes{
  display: flex;
  flex-wrap: wrap;
  border: 1px solid $toro_red;
  @media(max-width: 767px){
    border: 0px;
  }
  .ig-box{
    width: 20%;
    border: 1px solid $toro_red;

    padding-bottom: 19.8%;
    position: relative;

    @media (max-width: 920px){
      width: 25%;
      padding-bottom: 24.8%;
      &:nth-last-child(2), &:nth-last-child(3){
        display: none;
      }
    }


    &.edge-box{
      background-color: $toro_red;

      h5{
        color: $oro_yellow;
        text-transform: uppercase;
        font-family: $knockout-feather;
        font-weight: initial;
        padding: 10px;
        font-size: 37px;
        line-height: 1.1em;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        a{
          color: inherit;
          font-family: inherit;

        }
      }
    }

    .ig-box-link{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      img{
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }


  }
}

.ig-feed{
  margin-bottom: 30px;
  @media (max-width: 767px){
    .content-margins{
      margin-left: 0;
      margin-right: 0;
      max-width: 100%;
      min-width: 100%;
      overflow-x: scroll;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
      .ig-boxes{
        flex-direction: row;
        flex-wrap: nowrap;

        .ig-box{
          min-width: 175px;
          height: 175px;
          padding-bottom: 0;
          border-top: 2px solid $toro_red;
          border-bottom: 2px solid $toro_red;
        }
      }
    }
  }
}

.mls-mercado-map-img{
  margin-bottom: 30px;
  img{
    // margin: auto;
    width: 100%;
    height: auto;
  }
}

#bars, #kiosks, #mercado-map{
  padding-top: 125px;
  margin-top: -125px;
}

.mercado-map-box{
  overflow-x: scroll;
  overflow-y: hidden;
}

.mercado-map-cont{
  position: relative;
  width: 100%;
  padding-top: 50px;
  overflow-x: scroll;
  overflow-y: visible;
  min-width: 1024px;
  svg{
    min-width: 1024px;
  }
}

.mercado-map-hover-box{
  opacity: 0;
  transition: ease 300ms all;
  position: absolute;
  border: 2px solid $toro_red;
  // height: 30px;
  max-width: 155px;
  background-color: white;
  z-index: 2;
  display: flex;
  padding: 10px;
  // justify-content: space-between;
  align-items: center;
  pointer-events: none;
  img{
    height:auto;
    width: 50px;
    border: 1px solid $toro_red;
  }
  &.rest{
    img{
      border: 0px;
    }
  }
  span{
    // width: 45%;
    font-size: 12px;
    padding-left: 10px;
  }
  &.active{
    opacity: 1;
  }
  &:before{
    content: '';
    border-bottom: 2px solid $toro_red;
    border-right: 2px solid $toro_red;
    height: 10px;
    width: 10px;
    pointer-events: none;
    transform: rotate(45deg);
    position: absolute;
    top: calc(100% - 5px);
    z-index: 2;
    background-color: white;
    border-radius: 2px;
    left: 0;
    right: 0;
    margin: auto;
  }

}

.mercado-map-more-info-boxes{
  position: absolute;
  right: 50px;
  top: 90px;
  opacity: 0;
  transition: ease 300ms all;
  pointer-events: none;
  &.active{
    opacity: 1;
    pointer-events: auto;
  }
  .map-more-info-box{
    display: none;
    &:first-child{
      // display: block;
    }
    width: 350px;
    border: 2px solid $toro_red;
  }
  .map-more-info-banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 2px solid $toro_red;

    h6{
      font-size: 30px;
      text-transform: uppercase;
      color: $toro_red;
      font-family: $knockout-bantam;
    }

    img{
      width: 50px;
      height: 50px;
      border: 1px solid $toro_red;

    }
    .map-more-info-banner-right{
      width: 50px;
      text-align: center;
      color: $mid_grey;
      border: 1px solid $mid_grey;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      text-transform: uppercase;
      font-family: $knockout-bantam;
      font-size: 12px;
    }
  }

  .map-more-info-box-desc{
    // padding-bottom: 30px;
    display: flex;
    // align-items: flex-start;
    .map-more-info-img{
      width: 35%;
      min-width: 35%;
      padding: 5px;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;

    }
    .map-more-info-content{
      border-left: 2px solid $toro_red;
      padding: 10px;
      padding-bottom: 20px;
      position: relative;
      font-size: 18px;
      a{
        position: absolute;
        bottom: 0;
        right: 0;
        height: 25px;
        width: 25px;
        background-color: $toro_red;
        display: flex;
        justify-content: center;
        align-items: center;
        svg{
          width: 15px;
          min-width: unset;
          path{
            fill: white;
          }
        }
      }
    }
  }
}
