.kiosk-grid, .bars-grid{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .kiosk-box{
    width: 32%;
    margin-bottom: 50px;
    @media (max-width: 767px){
      width: 47%;
    }
    a{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      h6{
        margin-top: 10px;
        padding: 0 10px ;
        text-align: center;
        font-size: 28px;
        color: $toro_red;
        font-family: $domaine;
        font-weight: 800;
        line-height: 1.2em;
        @media (max-width: 767px){
          font-size: 20px;
        }
      }
    }
    .kiosk-box-img{
      position: relative;
      h4{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(255,240,101,0.9);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        font-family: $domaine;
        text-align: center;
        font-size: 38px;
        @media (max-width: 767px){
          font-size: 20px;
        }
        color: $toro_red;
        opacity: 0;
        transition: ease 300ms all;

      }
    }
    img{
      width: 100%;
      height: auto;
    }
    &:hover h4{
      opacity: 1;
    }
  }
}


.ig-boxes{
  display: flex;
  .ig-box{
    width: 20%;
    border: 1px solid $toro_red;
    padding-bottom: 19.8%;
    position: relative;

    h5{
      color: $oro_yellow;
      text-transform: uppercase;
      font-family: $knockout-bantam;
      font-weight: initial;
      padding: 10px;
      font-size: 45px;
      line-height: 1.1em;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      a{
        color: inherit;
        font-family: inherit;

      }
    }
    &.edge-box{
      background-color: $toro_red;
    }
  }
}

.ig-feed{
  margin-bottom: 30px;
}
