html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-size: 100%;
  font: inherit;
  padding: 0;
  border: 0;
  margin: 0;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

.clear {
  clear: both;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

/*
 * Grid / Structure
 ***************************/
/* Desktop */
/* Mobile */
/*
 * Breakpoints
 ***************************/
/* Desktop */
/* Mobile */
/*
 * Mixins / Interfaces
 ***************************/
.red-input, .outline-button, .partner-carousel .slick-arrow {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 0;
  background: transparent;
  outline: none;
  font-family: inherit;
}

/*
 * Colors
 ***************************/
/* Brand colors */
/* Grayscale */
/* Location specific */
/* Lena */
/* Mar */
/* Spanish Diner */
/*
 * Font Stacks
 ***************************/
/*
 * Font Styles
 *
 * @parameter $responsive : boolean, whether the font style needs responsive styles
 * @parameter $mobile : boolean, whether to only output mobile style
 ***************************/
/* H1 */
/* H1 components */
/* H2 */
/* H2 Components */
/* H3 */
/* H4 Components */
/* H4 */
/* H4 Components */
/* H5 */
/* H5 Components */
/* H6 */
/* H6 Components */
/* Paragraph */
/* Paragraph Components */
/* Nav Font */
/* Nav Font Components */
/* Caption Font */
/* Caption Font Components */
/* Button Font */
/* Button Font Components */
body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: "Knockout", Arial Narrow, Arial, sans-serif;
  box-sizing: border-box;
}

body * {
  box-sizing: inherit;
}

h1 {
  font-size: 12rem;
  font-weight: bold;
  line-height: 9.5rem;
  letter-spacing: 0.15rem;
  text-transform: none;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 9rem;
    font-weight: bold;
    line-height: 7.5rem;
    letter-spacing: 0.135rem;
    text-transform: none;
  }
}

h2 {
  font-size: 10rem;
  font-weight: bold;
  line-height: 9rem;
  letter-spacing: 0.15rem;
  text-transform: none;
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 8.6rem;
    font-weight: bold;
    line-height: 7.2rem;
    letter-spacing: 0.129rem;
    text-transform: none;
  }
}

h3 {
  font-size: 3.4rem;
  font-weight: bold;
  line-height: 5rem;
  letter-spacing: normal;
  text-transform: none;
}

@media screen and (max-width: 767px) {
  h3 {
    font-size: 2.9rem;
    font-weight: bold;
    line-height: 4.5rem;
    letter-spacing: normal;
    text-transform: none;
  }
}

h4 {
  font-size: 5rem;
  font-weight: bold;
  line-height: 4.3rem;
  letter-spacing: 0.083rem;
  text-transform: none;
}

@media screen and (max-width: 767px) {
  h4 {
    font-size: 3.9rem;
    font-weight: bold;
    line-height: 3.2rem;
    letter-spacing: 0.065rem;
    text-transform: none;
  }
}

h5 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 2.8rem;
  letter-spacing: normal;
  text-transform: none;
}

@media screen and (max-width: 767px) {
  h5 {
    font-size: 1.7rem;
    font-weight: bold;
    line-height: 2.4rem;
    letter-spacing: normal;
    text-transform: none;
  }
}

h6 {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 2rem;
  letter-spacing: normal;
  text-transform: none;
}

@media screen and (max-width: 767px) {
  h6 {
    font-size: 1.3rem;
    font-weight: normal;
    line-height: 2rem;
    letter-spacing: normal;
    text-transform: none;
  }
}

p {
  font-size: 1.9rem;
  font-weight: normal;
  line-height: 2.4rem;
  letter-spacing: normal;
  text-transform: none;
}

@media screen and (max-width: 767px) {
  p {
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 2.1rem;
    letter-spacing: normal;
    text-transform: none;
  }
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li, ol li {
  padding: 0;
  margin: 0;
}

svg {
  fill: currentColor;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #EA0029;
  clip: auto !important;
  clip-path: none;
  color: white;
  display: block;
  font-size: 1.9rem;
  font-weight: normal;
  line-height: 2.4rem;
  letter-spacing: normal;
  text-transform: none;
  height: auto;
  left: 0;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

@media screen and (max-width: 767px) {
  .screen-reader-text:focus {
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 2.1rem;
    letter-spacing: normal;
    text-transform: none;
  }
}

.content-margins {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1088px) and (min-width: 768px) {
  .content-margins {
    margin-left: 32px;
    margin-right: 32px;
  }
}

@media screen and (max-width: 767px) {
  .content-margins {
    max-width: 100%;
    margin-left: 32px;
    margin-right: 32px;
  }
}

#masthead {
  left: 0;
  top: 0;
  width: 100%;
  height: 106px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  background: white;
  border-bottom: 2px solid #EA0029;
}

#masthead-logo {
  flex: 0 0 auto;
  margin-right: 32px;
  display: block;
  color: #EA0029;
  height: 45px;
}

#masthead-logo img, #masthead-logo svg {
  width: auto;
  height: auto;
  max-width: 212px;
  max-height: 45px;
}

#site-navigation {
  flex: 1 0 0;
}

#site-navigation > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #EA0029;
  text-align: center;
}

#site-navigation > ul > li {
  padding: 0 16px;
  margin: 0 -16px;
}

#site-navigation > ul > li a {
  font-size: 2.2rem;
  font-weight: lighter;
  line-height: 2.9rem;
  letter-spacing: normal;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  padding: 12px 16px;
  display: block;
}

@media screen and (max-width: 767px) {
  #site-navigation > ul > li a {
    font-size: 2.2rem;
    font-weight: lighter;
    line-height: 2.9rem;
    letter-spacing: normal;
    text-transform: uppercase;
  }
}

#site-navigation > ul > li.has-children {
  position: relative;
}

#site-navigation > ul > li.has-children ul {
  display: none;
}

#site-navigation > ul > li.has-children:hover {
  background: #EA0029;
  color: #FFFFFF;
}

#site-navigation > ul > li.has-children:hover ul {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: auto;
  background: #EA0029;
  color: #FFFFFF;
}

#site-navigation > ul > li.has-children:hover ul li {
  padding: 0 16px;
}

#site-navigation > ul > li.has-children:hover ul li a {
  border-top: 2px solid #FFF065;
}

/*
 * Newsletter Capture
 ***************************/
#newsletter-capture {
  margin-bottom: 72px;
}

#newsletter-capture > div {
  border: 2px solid #EA0029;
  padding: 40px 67px;
}

@media screen and (max-width: 767px) {
  #newsletter-capture > div {
    padding: 56px 24px;
  }
}

.newsletter-capture-title {
  font-size: 5rem;
  font-weight: bold;
  line-height: 4.3rem;
  letter-spacing: 0.083rem;
  text-transform: none;
  text-transform: uppercase;
  color: #EA0029;
  margin: 0;
  margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
  .newsletter-capture-title {
    font-size: 3.9rem;
    font-weight: bold;
    line-height: 3.2rem;
    letter-spacing: 0.065rem;
    text-transform: none;
  }
}

@media screen and (max-width: 767px) {
  .newsletter-capture-title {
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
  }
}

.newsletter-capture-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.newsletter-capture-form label {
  flex: 1 0 0;
  margin-right: 44px;
}

.newsletter-capture-form button {
  flex: 0 0 auto;
}

@media screen and (max-width: 767px) {
  .newsletter-capture-form {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .newsletter-capture-form label, .newsletter-capture-form button {
    flex: initial;
    margin: 0;
  }
  .newsletter-capture-form label {
    width: 100%;
    margin-bottom: 40px;
  }
}

.red-input {
  background: #EA0029;
  color: #FFF065;
  font-family: "Domaine", Georgia, Times, Times New Roman, serif;
  font-size: 3.4rem;
  font-weight: bold;
  line-height: 5rem;
  letter-spacing: normal;
  text-transform: none;
  padding: 12px 24px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .red-input {
    font-size: 2.9rem;
    font-weight: bold;
    line-height: 4.5rem;
    letter-spacing: normal;
    text-transform: none;
  }
}

.red-input.placeholder {
  color: #FFF065;
  font-family: "Domaine", Georgia, Times, Times New Roman, serif;
  font-size: 3.4rem;
  font-weight: bold;
  line-height: 5rem;
  letter-spacing: normal;
  text-transform: none;
}

@media screen and (max-width: 767px) {
  .red-input.placeholder {
    font-size: 2.9rem;
    font-weight: bold;
    line-height: 4.5rem;
    letter-spacing: normal;
    text-transform: none;
  }
}

.red-input:-moz-placeholder {
  color: #FFF065;
  font-family: "Domaine", Georgia, Times, Times New Roman, serif;
  font-size: 3.4rem;
  font-weight: bold;
  line-height: 5rem;
  letter-spacing: normal;
  text-transform: none;
}

@media screen and (max-width: 767px) {
  .red-input:-moz-placeholder {
    font-size: 2.9rem;
    font-weight: bold;
    line-height: 4.5rem;
    letter-spacing: normal;
    text-transform: none;
  }
}

.red-input::-moz-placeholder {
  color: #FFF065;
  font-family: "Domaine", Georgia, Times, Times New Roman, serif;
  font-size: 3.4rem;
  font-weight: bold;
  line-height: 5rem;
  letter-spacing: normal;
  text-transform: none;
}

@media screen and (max-width: 767px) {
  .red-input::-moz-placeholder {
    font-size: 2.9rem;
    font-weight: bold;
    line-height: 4.5rem;
    letter-spacing: normal;
    text-transform: none;
  }
}

.red-input:-ms-input-placeholder {
  color: #FFF065;
  font-family: "Domaine", Georgia, Times, Times New Roman, serif;
  font-size: 3.4rem;
  font-weight: bold;
  line-height: 5rem;
  letter-spacing: normal;
  text-transform: none;
}

@media screen and (max-width: 767px) {
  .red-input:-ms-input-placeholder {
    font-size: 2.9rem;
    font-weight: bold;
    line-height: 4.5rem;
    letter-spacing: normal;
    text-transform: none;
  }
}

.red-input::-webkit-input-placeholder {
  color: #FFF065;
  font-family: "Domaine", Georgia, Times, Times New Roman, serif;
  font-size: 3.4rem;
  font-weight: bold;
  line-height: 5rem;
  letter-spacing: normal;
  text-transform: none;
}

@media screen and (max-width: 767px) {
  .red-input::-webkit-input-placeholder {
    font-size: 2.9rem;
    font-weight: bold;
    line-height: 4.5rem;
    letter-spacing: normal;
    text-transform: none;
  }
}

.outline-button {
  font-size: 2rem;
  font-weight: normal;
  line-height: 2.7rem;
  letter-spacing: 0.062rem;
  text-transform: uppercase;
  color: #EA0029;
  border: 2px solid;
  padding: 12px 64px;
}

@media screen and (max-width: 767px) {
  .outline-button {
    font-size: 2rem;
    font-weight: normal;
    line-height: 2.7rem;
    letter-spacing: 0.062rem;
    text-transform: uppercase;
  }
}

.outline-button:hover {
  background: #FFF065;
}

.outline-button:active {
  color: #FFF065;
  background: #EA0029;
}

/*
 * Logo Carousel
 ***************************/
#logo-carousel {
  border-top: 2px solid #EA0029;
}

.partner-carousel {
  position: relative;
}

.partner-carousel .slick-arrow {
  height: 16px;
  width: 12px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: calc(50% - 8px);
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .partner-carousel .slick-arrow {
    width: 24px;
    height: 16px;
  }
}

.partner-carousel .slick-prev {
  left: -48px;
}

@media screen and (max-width: 767px) {
  .partner-carousel .slick-prev {
    left: -24px;
  }
}

.partner-carousel .slick-next {
  right: -48px;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}

@media screen and (max-width: 767px) {
  .partner-carousel .slick-next {
    right: -24px;
  }
}

.partner-slide {
  color: #EA0029;
  padding: 20px;
}

.partner-slide img, .partner-slide svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*
 * Colophon
 ***************************/
#colophon {
  background: #EA0029;
  color: #FFFFFF;
  padding: 64px 0 14px 0;
}

#colophon > div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  #colophon > div {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
  }
}

#colophon-logo {
  display: block;
  color: #FFF065;
  width: auto;
  height: auto;
  max-width: 348px;
  max-height: 84px;
}

#colophon-logo img {
  width: auto;
  height: auto;
}

#colophon-logo svg {
  width: 100%;
  height: auto;
  max-width: 348px;
  max-height: 84px;
}

address.site-info {
  font-style: normal;
  font-size: 2.2rem;
  font-weight: lighter;
  line-height: 2.9rem;
  letter-spacing: normal;
  text-transform: uppercase;
  flex: 1 0 0;
  margin: 0 20px;
}

@media screen and (max-width: 767px) {
  address.site-info {
    font-size: 2.2rem;
    font-weight: lighter;
    line-height: 2.9rem;
    letter-spacing: normal;
    text-transform: uppercase;
  }
}

address.site-info a {
  color: white;
  text-decoration: none;
  font-size: 2.2rem;
  font-weight: lighter;
  line-height: 2.9rem;
  letter-spacing: normal;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  address.site-info a {
    font-size: 2.2rem;
    font-weight: lighter;
    line-height: 2.9rem;
    letter-spacing: normal;
    text-transform: uppercase;
  }
}

address.site-info a:hover {
  color: #FFF065;
}

@media screen and (max-width: 767px) {
  address.site-info {
    flex: initial;
    margin: 0;
  }
}

#footer-navigation {
  flex: 0 0 261px;
}

#footer-navigation ul li a {
  font-size: 2.2rem;
  font-weight: lighter;
  line-height: 2.9rem;
  letter-spacing: normal;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 767px) {
  #footer-navigation ul li a {
    font-size: 2.2rem;
    font-weight: lighter;
    line-height: 2.9rem;
    letter-spacing: normal;
    text-transform: uppercase;
  }
}

#footer-navigation ul li a:hover {
  color: #FFF065;
}

#footer-navigation ul li:nth-of-type(2n -1) {
  width: 174px;
  float: left;
}

#footer-navigation ul li:nth-of-type(2n) {
  width: 67px;
  float: right;
}

@media screen and (max-width: 767px) {
  #footer-navigation {
    flex: initial;
  }
}

#tramp-stamp {
  flex: 0 0 100%;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 2rem;
  letter-spacing: normal;
  text-transform: none;
  text-transform: uppercase;
  margin-top: 44px;
}

@media screen and (max-width: 767px) {
  #tramp-stamp {
    font-size: 1.3rem;
    font-weight: normal;
    line-height: 2rem;
    letter-spacing: normal;
    text-transform: none;
  }
}

#tramp-stamp a {
  color: inherit;
}

#tramp-stamp a:hover {
  color: #FFF065;
}

@media screen and (max-width: 767px) {
  #tramp-stamp {
    flex: initial;
    margin-top: 24px;
  }
}

.restaurant-single {
  padding-top: 30px;
}

.restaurant-header {
  margin-bottom: 30px;
}

.restaurant-header img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.restaurant-content {
  border-width: 3px;
  border-style: solid;
}
