/*
 * Grid / Structure
 ***************************/
/* Desktop */
/* Mobile */
/*
 * Breakpoints
 ***************************/
/* Desktop */
/* Mobile */
/*
 * Mixins / Interfaces
 ***************************/
/* line 63, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_variables.scss */
.red-input, .outline-button, .partner-carousel .slick-arrow {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 0;
  background: transparent;
  outline: none;
  font-family: inherit; }

/*
 * Colors
 ***************************/
/* Brand colors */
/* Grayscale */
/* Location specific */
/* Lena */
/* Mar */
/* Spanish Diner */
/*
 * Font Stacks
 ***************************/
/*
 * Font Styles
 *
 * @parameter $responsive : boolean, whether the font style needs responsive styles
 * @parameter $mobile : boolean, whether to only output mobile style
 ***************************/
/* H1 */
/* H1 components */
/* H2 */
/* H2 Components */
/* H3 */
/* H4 Components */
/* H4 */
/* H4 Components */
/* H5 */
/* H5 Components */
/* H6 */
/* H6 Components */
/* Paragraph */
/* Paragraph Components */
/* Nav Font */
/* Nav Font Components */
/* Caption Font */
/* Caption Font Components */
/* Button Font */
/* Button Font Components */
/* line 1, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_main.scss */
body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: "Knockout", Arial Narrow, Arial, sans-serif;
  box-sizing: border-box; }

/* line 11, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_main.scss */
body * {
  box-sizing: inherit; }

/* line 15, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_main.scss */
h1 {
  font-size: 12rem;
  font-weight: bold;
  line-height: 9.5rem;
  letter-spacing: 0.15rem;
  text-transform: none; }
  @media screen and (max-width: 767px) {
    /* line 15, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_main.scss */
    h1 {
      font-size: 9rem;
      font-weight: bold;
      line-height: 7.5rem;
      letter-spacing: 0.135rem;
      text-transform: none; } }

/* line 19, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_main.scss */
h2 {
  font-size: 10rem;
  font-weight: bold;
  line-height: 9rem;
  letter-spacing: 0.15rem;
  text-transform: none; }
  @media screen and (max-width: 767px) {
    /* line 19, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_main.scss */
    h2 {
      font-size: 8.6rem;
      font-weight: bold;
      line-height: 7.2rem;
      letter-spacing: 0.129rem;
      text-transform: none; } }

/* line 23, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_main.scss */
h3 {
  font-size: 3.4rem;
  font-weight: bold;
  line-height: 5rem;
  letter-spacing: normal;
  text-transform: none; }
  @media screen and (max-width: 767px) {
    /* line 23, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_main.scss */
    h3 {
      font-size: 2.9rem;
      font-weight: bold;
      line-height: 4.5rem;
      letter-spacing: normal;
      text-transform: none; } }

/* line 27, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_main.scss */
h4 {
  font-size: 5rem;
  font-weight: bold;
  line-height: 4.3rem;
  letter-spacing: 0.083rem;
  text-transform: none; }
  @media screen and (max-width: 767px) {
    /* line 27, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_main.scss */
    h4 {
      font-size: 3.9rem;
      font-weight: bold;
      line-height: 3.2rem;
      letter-spacing: 0.065rem;
      text-transform: none; } }

/* line 31, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_main.scss */
h5 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 2.8rem;
  letter-spacing: normal;
  text-transform: none; }
  @media screen and (max-width: 767px) {
    /* line 31, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_main.scss */
    h5 {
      font-size: 1.7rem;
      font-weight: bold;
      line-height: 2.4rem;
      letter-spacing: normal;
      text-transform: none; } }

/* line 35, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_main.scss */
h6 {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 2rem;
  letter-spacing: normal;
  text-transform: none; }
  @media screen and (max-width: 767px) {
    /* line 35, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_main.scss */
    h6 {
      font-size: 1.3rem;
      font-weight: normal;
      line-height: 2rem;
      letter-spacing: normal;
      text-transform: none; } }

/* line 39, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_main.scss */
p {
  font-size: 1.9rem;
  font-weight: normal;
  line-height: 2.4rem;
  letter-spacing: normal;
  text-transform: none; }
  @media screen and (max-width: 767px) {
    /* line 39, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_main.scss */
    p {
      font-size: 1.5rem;
      font-weight: normal;
      line-height: 2.1rem;
      letter-spacing: normal;
      text-transform: none; } }

/* line 43, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_main.scss */
ul, ol {
  list-style: none;
  padding: 0;
  margin: 0; }
  /* line 47, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_main.scss */
  ul li, ol li {
    padding: 0;
    margin: 0; }

/* line 53, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_main.scss */
svg {
  fill: currentColor; }

/* line 57, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_main.scss */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */ }
  /* line 69, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_main.scss */
  .screen-reader-text:focus {
    background-color: #EA0029;
    clip: auto !important;
    clip-path: none;
    color: white;
    display: block;
    font-size: 1.9rem;
    font-weight: normal;
    line-height: 2.4rem;
    letter-spacing: normal;
    text-transform: none;
    height: auto;
    left: 0;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; }
    @media screen and (max-width: 767px) {
      /* line 69, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_main.scss */
      .screen-reader-text:focus {
        font-size: 1.5rem;
        font-weight: normal;
        line-height: 2.1rem;
        letter-spacing: normal;
        text-transform: none; } }

/* line 87, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_main.scss */
.content-margins {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (max-width: 1088px) and (min-width: 768px) {
    /* line 87, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_main.scss */
    .content-margins {
      margin-left: 32px;
      margin-right: 32px; } }
  @media screen and (max-width: 767px) {
    /* line 87, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_main.scss */
    .content-margins {
      max-width: 100%;
      margin-left: 32px;
      margin-right: 32px; } }

/* line 4, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_header.scss */
#masthead {
  left: 0;
  top: 0;
  width: 100%;
  height: 106px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  background: white;
  border-bottom: 2px solid #EA0029; }
  @media screen and (max-width: 767px) {
    /* line 4, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_header.scss */
    #masthead {
      height: 58px;
      padding-left: 32px;
      padding-right: 0; } }

/* line 24, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_header.scss */
#masthead-logo {
  flex: 0 0 auto;
  margin-right: 32px;
  display: block;
  color: #EA0029;
  height: 45px; }
  /* line 30, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_header.scss */
  #masthead-logo img, #masthead-logo svg {
    width: auto;
    height: auto;
    max-width: 212px;
    max-height: 45px; }
  @media screen and (max-width: 767px) {
    /* line 24, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_header.scss */
    #masthead-logo {
      height: 26px; }
      /* line 37, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_header.scss */
      #masthead-logo img, #masthead-logo svg {
        max-height: 26px;
        max-width: 126px; } }

/* line 44, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_header.scss */
#site-navigation {
  flex: 1 0 0; }
  @media screen and (min-width: 768px) {
    /* line 46, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_header.scss */
    #site-navigation > ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      color: #EA0029;
      text-align: center; }
      /* line 54, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_header.scss */
      #site-navigation > ul > li {
        padding: 0 16px;
        margin: 0 -16px; }
        /* line 57, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_header.scss */
        #site-navigation > ul > li a {
          font-size: 2.2rem;
          font-weight: lighter;
          line-height: 2.9rem;
          letter-spacing: normal;
          text-transform: uppercase;
          color: inherit;
          text-decoration: none;
          padding: 12px 16px;
          display: block; } }
      @media screen and (min-width: 768px) and (max-width: 767px) {
        /* line 57, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_header.scss */
        #site-navigation > ul > li a {
          font-size: 2.2rem;
          font-weight: lighter;
          line-height: 2.9rem;
          letter-spacing: normal;
          text-transform: uppercase; } }
  @media screen and (min-width: 768px) {
        /* line 63, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_header.scss */
        #site-navigation > ul > li.has-children {
          position: relative; }
          /* line 65, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_header.scss */
          #site-navigation > ul > li.has-children ul {
            display: none; }
          /* line 67, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_header.scss */
          #site-navigation > ul > li.has-children:hover, #site-navigation > ul > li.has-children a:focus {
            background: #EA0029;
            color: #FFFFFF; }
            /* line 70, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_header.scss */
            #site-navigation > ul > li.has-children:hover ul, #site-navigation > ul > li.has-children:hover + ul, #site-navigation > ul > li.has-children a:focus ul, #site-navigation > ul > li.has-children a:focus + ul {
              display: block;
              position: absolute;
              left: 0;
              top: 100%;
              width: 100%;
              height: auto;
              background: #EA0029;
              color: #FFFFFF; }
              /* line 79, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_header.scss */
              #site-navigation > ul > li.has-children:hover ul li, #site-navigation > ul > li.has-children:hover + ul li, #site-navigation > ul > li.has-children a:focus ul li, #site-navigation > ul > li.has-children a:focus + ul li {
                padding: 0 16px; }
                /* line 81, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_header.scss */
                #site-navigation > ul > li.has-children:hover ul li a, #site-navigation > ul > li.has-children:hover + ul li a, #site-navigation > ul > li.has-children a:focus ul li a, #site-navigation > ul > li.has-children a:focus + ul li a {
                  border-top: 2px solid #FFF065; }
                /* line 83, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_header.scss */
                #site-navigation > ul > li.has-children:hover ul li.dupe, #site-navigation > ul > li.has-children:hover + ul li.dupe, #site-navigation > ul > li.has-children a:focus ul li.dupe, #site-navigation > ul > li.has-children a:focus + ul li.dupe {
                  display: none; } }
              @media screen and (min-width: 768px) and (max-width: 767px) {
                /* line 83, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_header.scss */
                #site-navigation > ul > li.has-children:hover ul li.dupe, #site-navigation > ul > li.has-children:hover + ul li.dupe, #site-navigation > ul > li.has-children a:focus ul li.dupe, #site-navigation > ul > li.has-children a:focus + ul li.dupe {
                  display: block; } }
  @media screen and (max-width: 767px) {
    /* line 46, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_header.scss */
    #site-navigation > ul {
      display: none; } }
  /* line 97, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_header.scss */
  #site-navigation > .mobile-nav-header {
    display: none; }
  @media screen and (max-width: 767px) {
    /* line 44, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_header.scss */
    #site-navigation {
      flex: 0 0 0;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start; }
      /* line 108, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_header.scss */
      #site-navigation:target, #site-navigation.opened {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #EA0029; }
        /* line 116, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_header.scss */
        #site-navigation:target > ul, #site-navigation.opened > ul {
          display: block;
          width: 100%;
          max-width: 224px; }
          /* line 120, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_header.scss */
          #site-navigation:target > ul > li, #site-navigation.opened > ul > li {
            color: #FFFFFF;
            text-align: center;
            font-size: 2.2rem;
            font-weight: lighter;
            line-height: 2.9rem;
            letter-spacing: normal;
            text-transform: uppercase;
            padding: 16px 0;
            border-bottom: 3px solid #FFF065; } }
        @media screen and (max-width: 767px) and (max-width: 767px) {
          /* line 120, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_header.scss */
          #site-navigation:target > ul > li, #site-navigation.opened > ul > li {
            font-size: 2.2rem;
            font-weight: lighter;
            line-height: 2.9rem;
            letter-spacing: normal;
            text-transform: uppercase; } }
  @media screen and (max-width: 767px) {
            /* line 126, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_header.scss */
            #site-navigation:target > ul > li a, #site-navigation.opened > ul > li a {
              color: #FFFFFF;
              text-decoration: none; }
              /* line 129, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_header.scss */
              #site-navigation:target > ul > li a:hover, #site-navigation.opened > ul > li a:hover {
                color: #FFF065; }
            /* line 133, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_header.scss */
            #site-navigation:target > ul > li.has-children > a, #site-navigation.opened > ul > li.has-children > a {
              position: relative; }
              /* line 135, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_header.scss */
              #site-navigation:target > ul > li.has-children > a::before, #site-navigation.opened > ul > li.has-children > a::before {
                content: '';
                display: block;
                position: absolute;
                right: -24px;
                top: calc(50% - 8px);
                width: 8px;
                height: 16px;
                background: url("../img/carousel-arrow-white.svg");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                -webkit-transform: rotate(-90deg) scaleX(0.9);
                -ms-transform: rotate(-90deg) scaleX(0.9);
                transform: rotate(-90deg) scaleX(0.9); }
            /* line 147, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_header.scss */
            #site-navigation:target > ul > li.has-children ul, #site-navigation.opened > ul > li.has-children ul {
              display: none; }
            /* line 150, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_header.scss */
            #site-navigation:target > ul > li.has-children.expanded > a, #site-navigation.opened > ul > li.has-children.expanded > a {
              color: #FFF065; }
            /* line 152, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_header.scss */
            #site-navigation:target > ul > li.has-children.expanded ul, #site-navigation.opened > ul > li.has-children.expanded ul {
              margin-top: 2px; }
        /* line 158, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_header.scss */
        #site-navigation:target > .mobile-nav-header, #site-navigation.opened > .mobile-nav-header {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          padding: 0 32px;
          margin-top: 24px; }
          /* line 166, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_header.scss */
          #site-navigation:target > .mobile-nav-header a, #site-navigation.opened > .mobile-nav-header a {
            display: block;
            color: #FFFFFF;
            text-decoration: none; }
            /* line 170, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_header.scss */
            #site-navigation:target > .mobile-nav-header a:hover, #site-navigation.opened > .mobile-nav-header a:hover {
              color: #FFF065; }
          /* line 174, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_header.scss */
          #site-navigation:target > .mobile-nav-header .mobile-nav-header-logo svg, #site-navigation.opened > .mobile-nav-header .mobile-nav-header-logo svg {
            width: 40px;
            height: 40px; }
          /* line 178, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_header.scss */
          #site-navigation:target > .mobile-nav-header .mobile-nav-header-close, #site-navigation.opened > .mobile-nav-header .mobile-nav-header-close {
            font-size: 5.6rem;
            width: 22px;
            height: 40px;
            margin-right: 12px; } }

/* line 189, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_header.scss */
#skip-to-navigation-link {
  display: none; }
  @media screen and (max-width: 767px) {
    /* line 189, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_header.scss */
    #skip-to-navigation-link {
      display: block;
      height: 58px;
      width: 58px;
      background: #EA0029;
      color: white;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; }
      /* line 201, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_header.scss */
      #skip-to-navigation-link svg {
        width: 24px;
        height: 24px; } }

/*
 * Newsletter Capture
 ***************************/
/* line 4, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
#newsletter-capture {
  margin-bottom: 72px; }
  /* line 6, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
  #newsletter-capture > div {
    border: 2px solid #EA0029;
    padding: 40px 67px; }
    @media screen and (max-width: 767px) {
      /* line 6, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
      #newsletter-capture > div {
        padding: 56px 24px; } }
  @media screen and (max-width: 767px) {
    /* line 4, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
    #newsletter-capture {
      margin-bottom: 50px; } }

/* line 17, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
.newsletter-capture-title {
  font-size: 5rem;
  font-weight: bold;
  line-height: 4.3rem;
  letter-spacing: 0.083rem;
  text-transform: none;
  text-transform: uppercase;
  color: #EA0029;
  margin: 0;
  margin-bottom: 16px; }
  @media screen and (max-width: 767px) {
    /* line 17, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
    .newsletter-capture-title {
      font-size: 3.9rem;
      font-weight: bold;
      line-height: 3.2rem;
      letter-spacing: 0.065rem;
      text-transform: none; } }
  @media screen and (max-width: 767px) {
    /* line 17, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
    .newsletter-capture-title {
      margin-bottom: 40px;
      text-align: center;
      text-transform: uppercase; } }

/* line 30, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
.newsletter-capture-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  /* line 35, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
  .newsletter-capture-form label {
    flex: 1 0 0;
    margin-right: 44px; }
  /* line 38, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
  .newsletter-capture-form button {
    flex: 0 0 auto; }
  @media screen and (max-width: 767px) {
    /* line 30, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
    .newsletter-capture-form {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start; }
      /* line 44, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
      .newsletter-capture-form label, .newsletter-capture-form button {
        flex: initial;
        margin: 0; }
      /* line 47, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
      .newsletter-capture-form label {
        width: 100%;
        margin-bottom: 40px; } }

/* line 54, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
.red-input {
  background: #EA0029;
  color: #FFF065;
  font-family: "Domaine", Georgia, Times, Times New Roman, serif;
  font-size: 3.4rem;
  font-weight: bold;
  line-height: 5rem;
  letter-spacing: normal;
  text-transform: none;
  padding: 12px 24px;
  width: 100%; }
  @media screen and (max-width: 767px) {
    /* line 54, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
    .red-input {
      font-size: 2.9rem;
      font-weight: bold;
      line-height: 4.5rem;
      letter-spacing: normal;
      text-transform: none; } }
  /* line 77, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_variables.scss */
  .red-input.placeholder {
    color: #FFF065;
    font-family: "Domaine", Georgia, Times, Times New Roman, serif;
    font-size: 3.4rem;
    font-weight: bold;
    line-height: 5rem;
    letter-spacing: normal;
    text-transform: none; }
    @media screen and (max-width: 767px) {
      /* line 77, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_variables.scss */
      .red-input.placeholder {
        font-size: 2.9rem;
        font-weight: bold;
        line-height: 4.5rem;
        letter-spacing: normal;
        text-transform: none; } }
  /* line 78, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_variables.scss */
  .red-input:-moz-placeholder {
    color: #FFF065;
    font-family: "Domaine", Georgia, Times, Times New Roman, serif;
    font-size: 3.4rem;
    font-weight: bold;
    line-height: 5rem;
    letter-spacing: normal;
    text-transform: none; }
    @media screen and (max-width: 767px) {
      /* line 78, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_variables.scss */
      .red-input:-moz-placeholder {
        font-size: 2.9rem;
        font-weight: bold;
        line-height: 4.5rem;
        letter-spacing: normal;
        text-transform: none; } }
  /* line 79, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_variables.scss */
  .red-input::-moz-placeholder {
    color: #FFF065;
    font-family: "Domaine", Georgia, Times, Times New Roman, serif;
    font-size: 3.4rem;
    font-weight: bold;
    line-height: 5rem;
    letter-spacing: normal;
    text-transform: none; }
    @media screen and (max-width: 767px) {
      /* line 79, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_variables.scss */
      .red-input::-moz-placeholder {
        font-size: 2.9rem;
        font-weight: bold;
        line-height: 4.5rem;
        letter-spacing: normal;
        text-transform: none; } }
  /* line 80, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_variables.scss */
  .red-input:-ms-input-placeholder {
    color: #FFF065;
    font-family: "Domaine", Georgia, Times, Times New Roman, serif;
    font-size: 3.4rem;
    font-weight: bold;
    line-height: 5rem;
    letter-spacing: normal;
    text-transform: none; }
    @media screen and (max-width: 767px) {
      /* line 80, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_variables.scss */
      .red-input:-ms-input-placeholder {
        font-size: 2.9rem;
        font-weight: bold;
        line-height: 4.5rem;
        letter-spacing: normal;
        text-transform: none; } }
  /* line 81, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_variables.scss */
  .red-input::-webkit-input-placeholder {
    color: #FFF065;
    font-family: "Domaine", Georgia, Times, Times New Roman, serif;
    font-size: 3.4rem;
    font-weight: bold;
    line-height: 5rem;
    letter-spacing: normal;
    text-transform: none; }
    @media screen and (max-width: 767px) {
      /* line 81, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_variables.scss */
      .red-input::-webkit-input-placeholder {
        font-size: 2.9rem;
        font-weight: bold;
        line-height: 4.5rem;
        letter-spacing: normal;
        text-transform: none; } }

/* line 69, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
.outline-button {
  font-size: 2rem;
  font-weight: normal;
  line-height: 2.7rem;
  letter-spacing: 0.062rem;
  text-transform: uppercase;
  color: #EA0029;
  border: 2px solid;
  padding: 12px 64px; }
  @media screen and (max-width: 767px) {
    /* line 69, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
    .outline-button {
      font-size: 2rem;
      font-weight: normal;
      line-height: 2.7rem;
      letter-spacing: 0.062rem;
      text-transform: uppercase; } }
  /* line 75, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
  .outline-button:hover {
    background: #FFF065; }
  /* line 77, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
  .outline-button:active {
    color: #FFF065;
    background: #EA0029; }

/*
 * Logo Carousel
 ***************************/
/* line 86, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
#logo-carousel {
  border-top: 2px solid #EA0029; }

/* line 90, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
.partner-carousel {
  position: relative; }
  /* line 92, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
  .partner-carousel .slick-arrow {
    height: 16px;
    width: 12px;
    background: url("../img/carousel-arrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: calc(50% - 8px);
    cursor: pointer; }
    @media screen and (max-width: 767px) {
      /* line 92, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
      .partner-carousel .slick-arrow {
        width: 24px;
        height: 16px; } }
  /* line 107, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
  .partner-carousel .slick-prev {
    left: -48px; }
    @media screen and (max-width: 767px) {
      /* line 107, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
      .partner-carousel .slick-prev {
        left: -24px; } }
  /* line 112, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
  .partner-carousel .slick-next {
    right: -48px;
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1); }
    @media screen and (max-width: 767px) {
      /* line 112, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
      .partner-carousel .slick-next {
        right: -24px; } }

/* line 121, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
.partner-slide {
  color: #EA0029;
  padding: 20px; }
  /* line 124, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
  .partner-slide img, .partner-slide svg {
    width: 100%;
    height: 100%;
    object-fit: contain; }

/*
 * Colophon
 ***************************/
/* line 134, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
#colophon {
  background: #EA0029;
  color: #FFFFFF;
  padding: 64px 0 14px 0; }
  /* line 138, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
  #colophon > div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap; }
    @media screen and (max-width: 767px) {
      /* line 138, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
      #colophon > div {
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start; } }

@media screen and (max-width: 767px) {
  /* line 152, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
  #footer-branding {
    margin-bottom: 32px; } }

/* line 158, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
#colophon-logo {
  display: block;
  color: #FFF065;
  width: auto;
  height: auto;
  max-width: 348px;
  max-height: 84px; }
  /* line 165, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
  #colophon-logo img {
    width: auto;
    height: auto; }
  /* line 168, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
  #colophon-logo svg {
    width: 100%;
    height: auto;
    max-width: 348px;
    max-height: 84px; }

/* line 176, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
address.site-info {
  font-style: normal;
  font-size: 2.2rem;
  font-weight: lighter;
  line-height: 2.9rem;
  letter-spacing: normal;
  text-transform: uppercase;
  flex: 1 0 0;
  margin: 0 20px; }
  @media screen and (max-width: 767px) {
    /* line 176, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
    address.site-info {
      font-size: 2.2rem;
      font-weight: lighter;
      line-height: 2.9rem;
      letter-spacing: normal;
      text-transform: uppercase; } }
  /* line 181, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
  address.site-info a {
    color: white;
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: lighter;
    line-height: 2.9rem;
    letter-spacing: normal;
    text-transform: uppercase; }
    @media screen and (max-width: 767px) {
      /* line 181, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
      address.site-info a {
        font-size: 2.2rem;
        font-weight: lighter;
        line-height: 2.9rem;
        letter-spacing: normal;
        text-transform: uppercase; } }
    /* line 185, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
    address.site-info a:hover {
      color: #FFF065; }
  @media screen and (max-width: 767px) {
    /* line 176, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
    address.site-info {
      flex: initial;
      margin: 0;
      line-height: 4.4rem; } }

/* line 195, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
#footer-navigation {
  flex: 0 0 261px; }
  /* line 200, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
  #footer-navigation ul li a {
    font-size: 2.2rem;
    font-weight: lighter;
    line-height: 2.9rem;
    letter-spacing: normal;
    text-transform: uppercase;
    text-decoration: none;
    color: white; }
    @media screen and (max-width: 767px) {
      /* line 200, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
      #footer-navigation ul li a {
        font-size: 2.2rem;
        font-weight: lighter;
        line-height: 2.9rem;
        letter-spacing: normal;
        text-transform: uppercase; } }
    /* line 204, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
    #footer-navigation ul li a:hover {
      color: #FFF065; }
  /* line 207, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
  #footer-navigation ul li:nth-of-type(2n -1) {
    width: 174px;
    float: left; }
  /* line 210, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
  #footer-navigation ul li:nth-of-type(2n) {
    width: 67px;
    float: right; }
  @media screen and (max-width: 767px) {
    /* line 195, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
    #footer-navigation {
      flex: initial; }
      /* line 219, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
      #footer-navigation ul li a {
        line-height: 4.4rem; } }

/* line 227, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
#tramp-stamp {
  flex: 0 0 100%;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 2rem;
  letter-spacing: normal;
  text-transform: none;
  text-transform: uppercase;
  margin-top: 44px; }
  @media screen and (max-width: 767px) {
    /* line 227, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
    #tramp-stamp {
      font-size: 1.3rem;
      font-weight: normal;
      line-height: 2rem;
      letter-spacing: normal;
      text-transform: none; } }
  /* line 232, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
  #tramp-stamp a {
    color: inherit; }
    /* line 234, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
    #tramp-stamp a:hover {
      color: #FFF065; }
  @media screen and (max-width: 767px) {
    /* line 227, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_footer.scss */
    #tramp-stamp {
      flex: initial;
      margin-top: 24px; } }

/* line 1, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_newsletter-popup.scss */
#newsletter-popup {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 68px 0;
  background: #EA0029;
  color: white;
  text-align: center;
  z-index: 9;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  transition: transform 0.4s; }
  /* line 15, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_newsletter-popup.scss */
  #newsletter-popup.opened, #newsletter-popup:target {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    transition: transform 0.4s opacity 0.4s; }
  @media screen and (max-width: 767px) {
    /* line 1, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_newsletter-popup.scss */
    #newsletter-popup {
      height: 100%;
      -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05); }
      /* line 23, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_newsletter-popup.scss */
      #newsletter-popup > .content-margins {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%; }
      /* line 29, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_newsletter-popup.scss */
      #newsletter-popup.opened, #newsletter-popup:target {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0); } }

/* line 35, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_newsletter-popup.scss */
#newsletter-popup-title {
  font-size: 12rem;
  font-weight: bold;
  line-height: 9.5rem;
  letter-spacing: 0.15rem;
  text-transform: none;
  text-transform: uppercase;
  color: #FFF065;
  margin: 0; }
  @media screen and (max-width: 767px) {
    /* line 35, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_newsletter-popup.scss */
    #newsletter-popup-title {
      font-size: 9rem;
      font-weight: bold;
      line-height: 7.5rem;
      letter-spacing: 0.135rem;
      text-transform: none; } }
  @media screen and (max-width: 767px) {
    /* line 35, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_newsletter-popup.scss */
    #newsletter-popup-title {
      text-transform: uppercase;
      max-width: 240px; } }

/* line 46, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_newsletter-popup.scss */
#newsletter-popup-blurb {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 2.8rem;
  letter-spacing: normal;
  text-transform: none;
  font-family: "Domaine", Georgia, Times, Times New Roman, serif;
  margin: 40px auto 12px auto;
  max-width: 850px; }
  @media screen and (max-width: 767px) {
    /* line 46, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_newsletter-popup.scss */
    #newsletter-popup-blurb {
      font-size: 1.7rem;
      font-weight: bold;
      line-height: 2.4rem;
      letter-spacing: normal;
      text-transform: none; } }
  @media screen and (max-width: 767px) {
    /* line 46, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_newsletter-popup.scss */
    #newsletter-popup-blurb {
      max-width: unset;
      padding: 0 32px;
      margin: 48px auto 48px auto; } }

/* line 59, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_newsletter-popup.scss */
.red-input.inverted {
  border: 2px solid #FFFFFF; }

/* line 64, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_newsletter-popup.scss */
.outline-button.inverted {
  border-color: #FFFFFF;
  color: #FFFFFF; }
  /* line 67, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_newsletter-popup.scss */
  .outline-button.inverted:hover {
    color: #EA0029; }
  /* line 69, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_newsletter-popup.scss */
  .outline-button.inverted:active {
    background: #FFF065; }

/* line 75, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_newsletter-popup.scss */
#newsletter-popup-capture {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  max-width: 810px;
  margin: 0 auto; }
  /* line 82, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_newsletter-popup.scss */
  #newsletter-popup-capture label {
    flex: 1 0 0; }
  /* line 84, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_newsletter-popup.scss */
  #newsletter-popup-capture button {
    flex: 0 0 auto;
    border-left: 0; }
  @media screen and (max-width: 767px) {
    /* line 75, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_newsletter-popup.scss */
    #newsletter-popup-capture {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start; }
      /* line 91, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_newsletter-popup.scss */
      #newsletter-popup-capture label {
        width: 100%;
        flex: initial;
        margin-bottom: 24px; }
      /* line 95, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_newsletter-popup.scss */
      #newsletter-popup-capture button {
        flex: initial;
        border-left: 2px solid #FFFFFF; } }

/* line 102, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_newsletter-popup.scss */
#newsletter-popup-close {
  font-size: 5.6rem;
  width: 22px;
  height: 40px;
  margin-right: 12px;
  position: absolute;
  right: 42px;
  top: 42px;
  color: #FFFFFF;
  display: block;
  text-decoration: none; }
  @media screen and (max-width: 767px) {
    /* line 102, /Users/paulhollywood/bentodev/sites/mercado/assets/css/_newsletter-popup.scss */
    #newsletter-popup-close {
      right: 24px;
      top: 24px; } }

/*# sourceMappingURL=style.css.map */