{% include "header.html" %}
<div class='single-kiosk'>
<!-- START base.html  -->
<section class="kiosk-landing">
  <div class="content-margins">
    <h1 class="mobile-kiosk-title">{{current.name}}</h1>
    <div class="page-landing-header">
      <div class="kiosk-icon">
        <img src="{{current.fields.page_icon.url}}" alt="{{current.fields.page_icon.alt_text}}">
      </div>
      <h1>{{current.name}}</h1>
      <div class='kiosk_title'>
	      <h2>{{current.fields.hover_text}}</h2>
      </div>
    </div>

  </div>
</section>

<section class="kiosk-content">
  <div class="content-margins">
	  <div class="kiosk-details">
	  <div class='kiosk-information'>
		  <div class='kiosk-description'>
			  		  {{current.fields.description}}
		  </div>
		  <div class='kiosk-map'>
        <img src="{{current.fields.map.url}}" alt="{{current.fields.map.alt}}">
      </div>
		  <div class='kiosk-share'>
        <h2>Share:</h2>


        <div class='social-fb fb-share-button' data-href="{{current.request.absolute_url}}" data-layout="button_count">
          <a href="https://www.facebook.com/sharer/sharer.php?u={{current.request.absolute_url|urlencode}}" target="_blank">
            <img src="{{ static('img/Facebook_red.png') }}" class='fb-xfbml-parse-ignore' alt="Facebook Icon" />
          </a>
        </div>

        <div class="social-twitter">

          <a target="_blank" rel="nofollow" href="https://twitter.com/intent/tweet?url={{current.request.absolute_url|urlencode}}" onclick="window.open('https://twitter.com/intent/tweet?url={{current.request.absolute_url|urlencode}}'&text={{current.title.absolute_url|urlencode}},width=700,height=500,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');return false;" title="Tweet this!" class='twitter-share-button'>
            <img src="{{ static('img/Twitter_red.png') }}" alt="Twitter Icon">
          </a>
        </div>

        <div class="social-email">
          <a href="mailto:?&body={{current.request.absolute_url}}"><img src="{{ static('img/Email_red.png') }}" alt="Email Icon"></a>
        </div>
<!--
          <a href="" class='social-fb'><img src="{{ static('img/Facebook_red.png') }}" alt="Facebook Icon"></a>
          <a href="" class='social-twitter'><img src="{{ static('img/Twitter_red.png') }}" alt="Twitter Icon"></a>
          <a href="" class='social-email'><img src="{{ static('img/Email_red.png') }}" alt="Email Icon"></a> -->
		  </div>



	  </div>
	  <div class='kiosk-gallery'>
      <div class="rest-single-gallery">
        {% if current.fields.gallery %}
        {% for image in current.fields.gallery %}
        <div class="rest-single-gallery-img-cont">
          <div class="rest-single-gallery-img">
            <img src="{{image.image_url}}" alt="{{image.alt_text}}" class='rest-single-img'>
            <div class="rest-single-gallery-controls home-slide-controls" style="border-color: {{current.fields.primary_color}}">
              <button class="rest-slide-prev home-slide-prev" role='button'>
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                   viewBox="0 0 25.9 45.2" style="enable-background:new 0 0 25.9 45.2;" xml:space="preserve">

                <polyline class="st0" points="4.1,1.7 21.9,22.7 4.1,43.6 "/>
                </svg>
              </button>
              <button class="rest-slide-next" role='button'>
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                   viewBox="0 0 25.9 45.2" style="enable-background:new 0 0 25.9 45.2;" xml:space="preserve">
                <polyline class="st0" points="4.1,1.7 21.9,22.7 4.1,43.6 "/>
                </svg>
              </button>
              <div class="rest-slide-current">
                {{loop.index}}/{{current.fields.gallery|length}}
                {% if image.alt_text %}
                  <span>{{image.alt_text}}</span>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>
	  </div>
	  </div>

  </div>
</section>


<section class="hay-mas">
  <div class="content-margins">
    <div class="hay-mas-header">
      <h6>¡Hay Más!</h6><span>Check out everything the Mercado has to offer.</span>
    </div>
    <div class="hay-mas-links">
      <div class="hay-mas-link">
        <a href="{{pages.by_slug['hay-mas'].fields.grid.kiosk_box.url}}">
          <h6>Kiosks</h6>
          <div class="hay-mas-link-icon">
            <img src="{{pages.by_slug['hay-mas'].fields.grid.kiosk_box.fields.global_icon.url}}" alt="{{pages.by_slug['hay-mas'].fields.grid.kiosk_box.fields.global_icon.alt}}">
            <span>{{pages.by_slug['hay-mas'].fields.grid.kiosk_box.fields.hover_text}}</span>
          </div>
          <h4>{{pages.by_slug['hay-mas'].fields.grid.kiosk_box.name}}</h4>
        </a>
      </div>

      <!-- <div class="hay-mas-link">
        <a href="{{pages.by_slug['hay-mas'].fields.grid.happenings_box.url}}">
          <h6>Happenings</h6>
          <div class="hay-mas-link-icon with-padding">
            <img src="{{pages.by_slug['hay-mas'].fields.grid.happenings_box.fields.global_icon.url}}" alt="{{pages.by_slug['hay-mas'].fields.grid.happenings_box.fields.global_icon.alt_text}}">
            <span>{{pages.by_slug['hay-mas'].fields.grid.happenings_box.fields.hover_text}}</span>
          </div>
          <h4>{{pages.by_slug['hay-mas'].fields.grid.happenings_box.name}}</h4>
        </a>
      </div> -->

      <div class="hay-mas-link">
        <a href="{{pages.by_slug['hay-mas'].fields.grid.blog_box.url}}">
          <h6>El Blog</h6>
          <div class="hay-mas-link-icon">
            <img src="{{pages.by_slug['hay-mas'].fields.grid.blog_box.image.url}}" alt="{{pages.by_slug['hay-mas'].fields.grid.blog_box.image.alt_text}}">
            <span>{{pages.by_slug['hay-mas'].fields.grid.blog_box.fields.hover_text}}</span>
          </div>
          <h4>{{pages.by_slug['hay-mas'].fields.grid.blog_box.name}}</h4>
        </a>
      </div>



{% set key =  (range(0, boxes.shop.all|length) | random) %}
      <div class="hay-mas-link">
        <a href="{{boxes.shop.all[key].url}}">
          <h6>Shop</h6>
          <div class="hay-mas-link-icon">
            <img src="{{boxes.shop.all[key].fields.global_icon.url}}" alt="{{boxes.shop.all[key].fields.global_icon.alt_text}}">
            <span>{{boxes.shop.all[key].fields.hover_text}}</span>
          </div>
          <h4>{{boxes.shop.all[key].name}}</h4>
        </a>
      </div>
    </div>
  </div>
</section>



</div>


<!-- END base.html  -->
{% include "footer.html" %}
