{% include "header.html" %}



<div id="fb-root"></div>
<script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>


<!-- single blog<br> -->

<article class="single-blog">
  <div class="single-blog-header-content">
    <div class="single-blog-img">
      <img src="{{current.image.url}}" alt="{{current.image.alt_text}}">
      <div class="article-info-slide">
        <h6>{{current.name}}</h6>
        <span>Share Article: </span>
        <div class="single-blog-social-container">
          <div class='social-fb fb-share-button' data-href="{{current.request.absolute_url}}" data-layout="button_count">
            <a href="https://www.facebook.com/sharer/sharer.php?u={{current.request.absolute_url|urlencode}}" target="_blank">
              <img src="{{ static('img/Facebook_gray.png') }}" class='fb-xfbml-parse-ignore' alt="Facebook Icon" />
            </a>
          </div>

          <div class="social-twitter">

            <a target="_blank" rel="nofollow" href="https://twitter.com/intent/tweet?url={{current.request.absolute_url|urlencode}}" onclick="window.open('https://twitter.com/intent/tweet?url={{current.request.absolute_url|urlencode}}'&text={{current.title.absolute_url|urlencode}},width=700,height=500,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');return false;" title="Tweet this!" class='twitter-share-button'>
              <img src="{{ static('img/Twitter_gray.png') }}" alt="Twitter Icon">
            </a>
          </div>

          <div class="social-email">
            <a href="mailto:?&body={{current.request.absolute_url}}"><img src="{{ static('img/Email_gray.png') }}" alt="Email Icon"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="single-blog-info">
      <div class="single-blog-info-header">
        <div class="">
          <span>{{boxes.blog.by_slug[current.slug].categories[0].name}}</span>
          <h1>{{current.name}}</h1>
          <h4>{{current.fields.dek}}</h4>
          {% if current.fields.author %}
            <h6>By {{current.fields.author}} {{current.fields.byline}}</h6>
          {% endif %}
        </div>
        <!-- <div class="single-blog-social">
          <div class="single-blog-social-container">
            <div class='social-fb fb-share-button' data-href="{{current.request.absolute_url}}" data-layout="button_count">
              <a href="https://www.facebook.com/sharer/sharer.php?u={{current.request.absolute_url|urlencode}}" target="_blank">
                <img src="{{ static('img/Facebook.png') }}" class='fb-xfbml-parse-ignore' alt="Facebook Icon" />
              </a>
            </div>

            <div class="social-twitter">
              <a target="_blank" rel="nofollow" href="https://twitter.com/intent/tweet?url={{current.request.absolute_url|urlencode}}" onclick="window.open('https://twitter.com/intent/tweet?url={{current.request.absolute_url|urlencode}}'&text={{current.title.absolute_url|urlencode}},width=700,height=500,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');return false;" title="Tweet this!" class='twitter-share-button'>
                <img src="{{ static('img/Twitter.png') }}" alt="Twitter Icon">
              </a>
            </div>


            <div class="social-email">
              <a href="mailto:?&body={{current.request.absolute_url}}"><img src="{{ static('img/Email.png') }}" alt="Email Icon"></a>
            </div>
          </div>
          <div class="single-blog-scroll">
            <span>Scroll</span>
          </div>
        </div> -->
      </div>

    </div>
  </div>

  <div class="single-blog-content-cont">

    <div class="single-blog-sticky">
      <div class="single-blog-sticky-container">
        <div class="single-blog-sticky-upper">
          <h5>Share Article</h5>
          <div class="single-blog-social-container">
            <div class='social-fb fb-share-button' data-href="{{current.request.absolute_url}}" data-layout="button_count">
              <a href="https://www.facebook.com/sharer/sharer.php?u={{current.request.absolute_url|urlencode}}" target="_blank">
                <img src="{{ static('img/Facebook_gray.png') }}" class='fb-xfbml-parse-ignore' alt="Facebook Icon" />
              </a>
            </div>

            <div class="social-twitter">
              <a target="_blank" rel="nofollow" href="https://twitter.com/intent/tweet?url={{current.request.absolute_url|urlencode}}" onclick="window.open('https://twitter.com/intent/tweet?url={{current.request.absolute_url|urlencode}}'&text={{current.title.absolute_url|urlencode}},width=700,height=500,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');return false;" title="Tweet this!" class='twitter-share-button'>
                <img src="{{ static('img/Twitter_gray.png') }}" alt="Twitter Icon">
              </a>
            </div>


            <div class="social-email">
              <a href="mailto:?&body={{current.request.absolute_url}}"><img src="{{ static('img/Email_gray.png') }}" alt="Email Icon"></a>
            </div>
          </div>
        </div>
        <div class="single-blog-sticky-lower">
          <h4>{{current.name}}</h4>
          <h6>{{current.fields.author}}</h6>
        </div>
        <a class="single-block-back-link" href="/blog/">
          <div class="single-blog-arrow back-to-blog">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 31.5 31.5" style="enable-background:new 0 0 31.5 31.5;" xml:space="preserve">
            <path class="blog-arrow" d="M18.7,5c-0.4-0.4-1.1-0.4-1.6,0c-0.4,0.4-0.4,1.1,0,1.6l8,8H3.6c-0.6,0-1.1,0.5-1.1,1.1s0.5,1.1,1.1,1.1h21.5
              l-8,8c-0.4,0.4-0.4,1.2,0,1.6c0.4,0.4,1.2,0.4,1.6,0l10-10c0.4-0.4,0.4-1.1,0-1.6L18.7,5z"/>
            </svg>
          </div>
          <h6>Back to El Blog</h6>
        </a>
      </div>
    </div>


    <div class="single-blog-content">
      <div class="single-blog-content-title">
        <div class="content-margins">
          <h2>{{current.name}}</h2>
          <h4>{{current.fields.author}}</h4>
        </div>
      </div>


      {% for field in current.fields.flexible.content %}

        {% if field.section_type == "Standard Content" %}
          <div class='standard-content'>

            <div class="content-margins">
              {% if field.content_box.subheader %}
                <div class="content-subheader"><h5>{{field.content_box.subheader}}</h5></div>
              {% endif %}
              {{field.content_box.content}}
            </div>
          </div>
          {% endif %}



          {% if field.section_type == "Full Width Header Container" %}
            <section class="full-width-header">
              <div class="full-width-header-content">
                <div class="full-width-header-content-inner">
                  {{field.full_width_header_box.content}}
                </div>
              </div>
              <div class="full-width-header-img">
                <img src="{{field.full_width_header_box.image.url}}" alt="{{field.full_width_header_box.image.alt_text}}">
              </div>
            </section>
          {% endif %}

          {% if field.section_type == "About Author" %}
          <div class='standard-content about-author'>
            <div class="content-margins">
              <div class="about-author-title">{{field.about_author.title}}</div>
              {{field.about_author.content}}
            </div>
          </div>
          {% endif %}


          {% if field.section_type == "Gallery Container" %}
            <section class="content-gallery">
              <div class="content-margins">
                <div class="content-gallery-inner">
                  {% for image in field.gallery_box.gallery %}
                  <div class="rest-single-gallery-img-cont">
                    <div class="rest-single-gallery-img">
                      <img src="{{image.image_url}}" alt="{{image.alt_text}}" class='rest-single-img'>
                      <div class="rest-single-gallery-controls home-slide-controls">
                        <button class="rest-slide-prev home-slide-prev" role='button'>
                          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 25.9 45.2" style="enable-background:new 0 0 25.9 45.2;" xml:space="preserve">

                          <polyline class="st0" points="4.1,1.7 21.9,22.7 4.1,43.6 "/>
                          </svg>
                        </button>
                        <button class="rest-slide-next" role='button'>
                          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 25.9 45.2" style="enable-background:new 0 0 25.9 45.2;" xml:space="preserve">
                          <polyline class="st0" points="4.1,1.7 21.9,22.7 4.1,43.6 "/>
                          </svg>
                        </button>
                        <div class="rest-slide-current">
                          {{loop.index}}/{{field.gallery_box.gallery|length}}
                          {% if image.alt_text %}
                            <span>{{image.alt_text}}</span>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </section>

          {% endif %}


          {% if field.section_type == "Full Screen Image" %}
            <div class='wide-content'>

              <figure>
                <img src="{{field.wide_image.image.url}}" alt={% if field.wide_image.image.alt == "" %}"{{field.wide_image.caption}}"{% else %} "{{field.wide_image.image.alt}}" {% endif %} />
                <figcaption>{{field.wide_image.caption}}</figcaption>
              </figure>

            </div>

          {% endif %}

          {% if field.section_type == "Featured Boxes" %}

            {{field.section_type}}

          {% endif %}

      {% endfor %}


      <div class="single-end-share">
        <div class="content-margins">
          <div class="single-end-share-inner">
            <h5>Share Article </h5>
            <div class="single-blog-social-container">
              <div class='social-fb fb-share-button' data-href="{{current.request.absolute_url}}" data-layout="button_count">
                <a href="https://www.facebook.com/sharer/sharer.php?u={{current.request.absolute_url|urlencode}}" target="_blank">
                  <img src="{{ static('img/Facebook_gray.png') }}" class='fb-xfbml-parse-ignore' alt="Facebook Icon" />
                </a>
              </div>

              <div class="social-twitter">

                <a target="_blank" rel="nofollow" href="https://twitter.com/intent/tweet?url={{current.request.absolute_url|urlencode}}" onclick="window.open('https://twitter.com/intent/tweet?url={{current.request.absolute_url|urlencode}}'&text={{current.title.absolute_url|urlencode}},width=700,height=500,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');return false;" title="Tweet this!" class='twitter-share-button'>
                  <img src="{{ static('img/Twitter_gray.png') }}" alt="Twitter Icon">
                </a>
              </div>

              <div class="social-email">
                <a href="mailto:?&body={{current.request.absolute_url}}"><img src="{{ static('img/Email_gray.png') }}" alt="Email Icon"></a>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>




  </div>



</article>



<section class="hay-mas">
  <div class="content-margins">
    <div class="hay-mas-header">
      <h6>¡Hay Más!</h6><span>Check out everything the Mercado has to offer.</span>
    </div>
    <div class="hay-mas-links">

{% set kioskKey =  (range(0, boxes.kiosks.all|length) | random) %}
      <div class="hay-mas-link">
        <a href="{{boxes.kiosks.all[kioskKey].url}}">
          <h6>Kiosks</h6>
          <div class="hay-mas-link-icon">
            <img src="{{boxes.kiosks.all[kioskKey].fields.global_icon.url}}" alt="{{pages.by_slug['hay-mas'].fields.grid.kiosk_box.fields.global_icon.alt}}">
            {% if boxes.kiosks.all[kioskKey].fields.hover_text %}
              <span>{{boxes.kiosks.all[kioskKey].fields.hover_text}}</span>
            {% endif %}
          </div>
          <h4>{{boxes.kiosks.all[kioskKey].name}}</h4>
        </a>
      </div>

      <!-- <div class="hay-mas-link">
        <a href="{{pages.by_slug['hay-mas'].fields.grid.happenings_box.url}}">
          <h6>Happenings</h6>
          <div class="hay-mas-link-icon with-padding">
            <img src="{{pages.by_slug['hay-mas'].fields.grid.happenings_box.fields.global_icon.url}}" alt="{{pages.by_slug['hay-mas'].fields.grid.happenings_box.fields.global_icon.alt_text}}">
            <span>{{pages.by_slug['hay-mas'].fields.grid.happenings_box.fields.hover_text}}</span>
          </div>
          <h4>{{pages.by_slug['hay-mas'].fields.grid.happenings_box.name}}</h4>
        </a>
      </div> -->



      {% for event in boxes.events.all %}
        {{event.starts}}


      {% endfor %}

{% set blogKey =  (range(0, boxes.blog.all|length) | random) %}
      <div class="hay-mas-link">
        <a href="{{boxes.blog.all[blogKey].url}}">
          <h6>El Blog</h6>
          <div class="hay-mas-link-icon">
            <img src="{{boxes.blog.all[blogKey].image.url}}" alt="{{boxes.blog.all[blogKey].image.alt_text}}">
            {% if boxes.blog.all[blogKey].fields.hover_text %}
              <span>{{boxes.blog.all[blogKey].fields.hover_text}}</span>
            {% endif %}
          </div>
          <h4>{{boxes.blog.all[blogKey].name}}</h4>
        </a>
      </div>



{% set key =  (range(0, boxes.shop.all|length) | random) %}
      <div class="hay-mas-link">
        <a href="{{boxes.shop.all[key].url}}">
          <h6>Shop</h6>
          <div class="hay-mas-link-icon">
            <img src="{{boxes.shop.all[key].fields.global_icon.url}}" alt="{{boxes.shop.all[key].fields.global_icon.alt_text}}">
            {% if boxes.shop.all[key].fields.hover_text %}
              <span>{{boxes.shop.all[key].fields.hover_text}}</span>
            {% endif %}
          </div>
          <h4>{{boxes.shop.all[key].name}}</h4>
        </a>
      </div>
    </div>
  </div>
</section>


{% include "footer.html" %}
