{% include "header.html" %}

<!-- restaurant single -->
<!-- {{current}} -->


<style>
  .restaurant-content .restaurant-single-content p strong{
    color: {{current.fields.primary_color}};
  }
  .rest-contact-inner h4 strong{
    color: {{current.fields.primary_color}};
  }
  .rest-contact-inner h4 a{
    border-color: {{current.fields.primary_color}};
    color: {{current.fields.primary_color}};
  }
  .rest-single-menus .rest-single-menu-select .rest-single-menu-title.active{
    background-color: {{current.fields.primary_color}};
  }
  .rest-single-gallery-controls .rest-slide-prev:hover, .rest-single-gallery-controls .rest-slide-next:hover{
    background-color: {{current.fields.primary_color}};
  }
  .rest-single-gallery-controls .rest-slide-prev:hover .st0, .rest-single-gallery-controls .rest-slide-next:hover .st0{
    stroke: white;
  }
</style>

<style type="text/css">
  .st0{
    fill:none;
    stroke:{{current.fields.primary_color}};
    stroke-width:5;
    stroke-miterlimit:10;
    transition: ease 250ms all;
  }
</style>

<article class="restaurant-single rest-{{current.slug}}">
  <div class="content-margins">

    <section class="restaurant-header">
      <h1>
        <img src="{{current.fields.banner_image.url}}" alt="{{current.name}}">
      </h1>
    </section>

    <section class="restaurant-content" style='border-color: {{current.fields.primary_color}}'>
      <div class="restaurant-single-info">
        <div class="restaurant-single-content" style='border-color: {{current.fields.primary_color}}'>
          {{current.fields.description}}
        </div>
        <div class="rest-single-map" style='border-color: {{current.fields.primary_color}}'>
          <!-- <img src="{{current.fields.map.url}}" alt=""> -->

        </div>
      </div>
      <div class="restaurant-single-info rest-right-col">
        <div class="rest-single-gallery" style='border-color: {{current.fields.primary_color}}'>
          {% for image in current.fields.gallery %}
          <div class="rest-single-gallery-img-cont">
            <div class="rest-single-gallery-img">
              <img src="{{image.image_url}}" alt="{{image.alt_text}}" class='rest-single-img'>
              <div class="rest-single-gallery-controls home-slide-controls" style="border-color: {{current.fields.primary_color}}">
                <button class="rest-slide-prev home-slide-prev" role='button'>
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 25.9 45.2" style="enable-background:new 0 0 25.9 45.2;" xml:space="preserve">

                  <polyline class="st0" points="4.1,1.7 21.9,22.7 4.1,43.6 "/>
                  </svg>
                </button>
                <button class="rest-slide-next" role='button'>
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 25.9 45.2" style="enable-background:new 0 0 25.9 45.2;" xml:space="preserve">
                  <polyline class="st0" points="4.1,1.7 21.9,22.7 4.1,43.6 "/>
                  </svg>
                </button>
                <div class="rest-slide-current" style='color: {{current.fields.primary_color}}'>
                  {{loop.index}}/{{current.fields.gallery|length}}
                  {% if image.alt_text %}
                    <span>{{image.alt_text}}</span>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="rest-contact">
          <div class="rest-contact-inner">{{current.fields.contact_info}}</div>
        </div>
      </div>
    </section>

    {% if current.fields.menus %}
    <section class="rest-single-menus">
      <div class="rest-single-menu-header" style='background-color: {{current.fields.primary_color}}'>
        <h2>Menus</h2>
      </div>
      <div class="rest-single-menu-select" >
        <div class="rest-single-menu-title" style='border-color: {{current.fields.primary_color}}'>Food</div>
        <div class="rest-single-menu-title" style='border-color: {{current.fields.primary_color}}'>Drinks</div>
        <div class="rest-single-menu-title" style='border-color: {{current.fields.primary_color}}'>Dessert</div>
      </div>
      <div class="rest-single-menu-cont" style='border-color: {{current.fields.primary_color}}'>

      </div>
    </section>
    {% endif %}




    <section class="rest-single-join-us"
      style='background-color: {% if current.fields.secondary_color %}{{current.fields.secondary_color}}; {% else %}{{current.fields.primary_color}}; {% endif %}'
      >
      <div class="rest-single-join-us-content">
        <h3>¡VAMOS! JOIN US FOR
        YOUR NEXT PRIVATE
        EVENT AT {{current.name}}</h3>
        <p>
          CONTACT US TO LEARN MORE.
        </p>
        <a class="more-info">More Info</a>
      </div>
      <div class="rest-single-join-us-img">
        <img src="{{current.fields.logo.url}}" alt="">
      </div>
    </section>

  </div>
</article>


{% include "footer.html" %}
