{% include "header.html" %}


<!-- el_blog.html -->

<section class="blog-landing">
  <div class="content-margins">
    <h1 class="mobile-blog-title">El Blog</h1>

    <div class="page-landing-header">
      <img src="{{static('img/el-blog-landing/Left.png')}}" alt="" class='header-icon-left'>
      <h1>El Blog</h1>
      <img src="{{static('img/el-blog-landing/Right.png')}}" alt="" class='header-icon-right'>
    </div>

  </div>
</section>




<section class="blog-articles-container">
  <div class="content-margins">
	 {% for post in boxes.blog.all %}
    <article class="blog-post">
      <div class="image">
        <a href='{{post.url}}'>
          <img src="{{ post.image.url }}" alt='{{post.image.alt_text}}'>
        </a>
      </div>
      <div class="info">
        <a href='{{post.url}}'>
          <p class="blog-post__tag">{{ post.categories[0].name }}</p>
          <h1 class="blog-post__title">{{ post.title }}</h1>
          <p class="blog-post__desc">{{ post.fields.dek }}</p>
        </a>
      </div>
    </article>


    {% endfor %}



<!--
        <div class="blog-post__more">
          <button class="outline-button" type="">Hay Más</button>
        </div>
-->
</section>







{% include "footer.html" %}
