{% include "header.html" %}


<!-- el_blog.html -->

<section class="blog-landing">
  <div class="content-margins">
    <h1 class="mobile-blog-title">El Blog</h1>

    <div class="page-landing-header">
      <img src="{{static('img/el-blog-landing/Left.png')}}" alt="" class='header-icon-left'>
      <h1>El Blog</h1>
      <img src="{{static('img/el-blog-landing/Right.png')}}" alt="" class='header-icon-right'>
    </div>

  </div>
</section>




<section class="blog-articles-container">
  <div class="content-margins">
	 {% for post in boxes.blog.all %}
    <article class="blog-post blog-landing-post">
      <div class="image">

          <img src="{{ post.image.url }}" alt='{{post.image.alt}}'>

      </div>
      <div class="info">

          <p class="blog-post__tag">{{ post.categories[0].name }}</p>
          <h2 class="blog-post__title">{{ post.title }}</h2>
          <p class="blog-post__desc">{{ post.fields.dek }}</p>

      </div>
      <a href='{{post.url}}'></a>
      <div class="single-blog-arrow">
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 31.5 31.5" style="enable-background:new 0 0 31.5 31.5;" xml:space="preserve">
        <path class="blog-arrow" d="M18.7,5c-0.4-0.4-1.1-0.4-1.6,0c-0.4,0.4-0.4,1.1,0,1.6l8,8H3.6c-0.6,0-1.1,0.5-1.1,1.1s0.5,1.1,1.1,1.1h21.5
          l-8,8c-0.4,0.4-0.4,1.2,0,1.6c0.4,0.4,1.2,0.4,1.6,0l10-10c0.4-0.4,0.4-1.1,0-1.6L18.7,5z"/>
        </svg>
      </div>
    </article>


    {% endfor %}



<!--
        <div class="blog-post__more">
          <button class="outline-button" type="">Hay Más</button>
        </div>
-->
</section>







{% include "footer.html" %}
