{% include "header.html" %}

<section class="events-landing">
  <div class="content-margins">

    <h1 class="mobile-happenings-title">Happenings</h1>

    <div class="page-landing-header">
      <div class="page-header-icon-left">
        <img src="{{static('img/happenings-landing/Left.png')}}" alt="">
      </div>
      <h1>Happenings</h1>
      <div class="page-header-icon-right">
        <img src="{{static('img/happenings-landing/Right.png')}}" alt="">
      </div>
    </div>

  </div>
</section>

<section class='events-description'>
  <div class="content-margins">

{{current.fields.event_description.description}}
</div>
</section>

<section class='events-listing'>
  <div class="content-margins">
    <div class='filter'>
<h2>Filter by</h2>
{% for cats in boxes.events.categories %}
{% if cats.slug != 'uncategorized' %}
<button class="eventsFilter" url='{{current.url}}' box='events' filter='{{cats.slug}}' >{{cats.name}}</button>
{% endif %}
{% endfor %}

    </div>
<div class='all-events'>
  {% for event in boxes.events.all %}
    <a href="{{event.url}}" class="home-happenings-event">
      <div class='home-happenings-upper'>
        <h6>{{event.starts|date('%B %d')}}

        {% if event.starts|date('%B %d') != event.ends|date('%B %d') %}
          - {{event.ends|date('%B %d')}}
        {% endif %}
        </h6>
        <!-- {{event.ends|date('%B %d')}} -->
        <h3>{{event.name}}</h3>
        <p>{{event.fields.dek}}</p>
      </div>
      <div class="home-happenings-img">
        <img src="{{event.images[0].url}}" alt="{{event.images[0].alt_text}}">
      </div>
    </a>
  {% endfor %}
</div>
</div>
</section>
<script>
	window.events = {{ boxes.events.all|tojson }};
	</script>


{% include "footer.html" %}
