<form action="https://app.e2ma.net/app2/audience/signup/1873742/1887124/?r=signup" id="signup" method="post" name="signup">
      <input id="id_prev_member_email" name="prev_member_email" type="hidden">
      <input id="id_source" name="source" type="hidden">
      <input name="prev_member_email" type="hidden" value="">
      <div class="form-fields__fields-wrapper">
       <div class="fields-one-line">
         <div class="field">
          <b class="emmaFormLabelBold">
           First name
          </b>
          <span class="emmaFormLabelSmall">
           *
          </span>
          <div class="field-html ">
           <input field_id="1333140" class='red-input'  id="id_member_field_first_name" name="member_field_first_name" type="text"  placeholder="First Name*">
          </div>
         </div>
         <div class="field">
          <b class="emmaFormLabelBold">
           Last name
          </b>
          <span class="emmaFormLabelSmall">
           *
          </span>
          <div class="field-html ">
           <input field_id="1334164" class='red-input'  id="id_member_field_last_name" name="member_field_last_name" type="text" placeholder="Last Name*">
          </div>
         </div>
       </div>

       <div class="field">
        <b class="emmaFormLabelBold">
         Email
        </b>
        <span class="emmaFormLabelSmall">
         *
        </span>
        <div class="field-html ">
         <input id="id_email" class='red-input' name="email" type="email"  placeholder="Your Email*">
        </div>
       </div>

       <div class="fields-one-line zip-birth">
         <div class="field">
          <b class="emmaFormLabelBold">
           Postal code
          </b>
          <div class="field-html ">
           <input field_id="1340308" id="id_member_field_postal_code" name="member_field_postal_code" class='red-input' placeholder="Zip Code" type="text">
          </div>
         </div>

         <div class="field">
          <b class="emmaFormLabelBold">
           Birthday
          </b>
          <div class="field-html select-fields">
            <span class='birthday-label red-input'>Birthday</span>
           <select field_id="1341332" class='red-input' id="id_member_field_birthday_month" name="member_field_birthday_month">
            <option value="0">
             Mes
            </option>
            <option value="1">
             January
            </option>
            <option value="2">
             February
            </option>
            <option value="3">
             March
            </option>
            <option value="4">
             April
            </option>
            <option value="5">
             May
            </option>
            <option value="6">
             June
            </option>
            <option value="7">
             July
            </option>
            <option value="8">
             August
            </option>
            <option value="9">
             September
            </option>
            <option value="10">
             October
            </option>
            <option value="11">
             November
            </option>
            <option value="12">
             December
            </option>
           </select>
           <select field_id="1341332" id="id_member_field_birthday_day" class='red-input' name="member_field_birthday_day">
            <option value="0">
             Dia
            </option>
            <option value="1">
             1
            </option>
            <option value="2">
             2
            </option>
            <option value="3">
             3
            </option>
            <option value="4">
             4
            </option>
            <option value="5">
             5
            </option>
            <option value="6">
             6
            </option>
            <option value="7">
             7
            </option>
            <option value="8">
             8
            </option>
            <option value="9">
             9
            </option>
            <option value="10">
             10
            </option>
            <option value="11">
             11
            </option>
            <option value="12">
             12
            </option>
            <option value="13">
             13
            </option>
            <option value="14">
             14
            </option>
            <option value="15">
             15
            </option>
            <option value="16">
             16
            </option>
            <option value="17">
             17
            </option>
            <option value="18">
             18
            </option>
            <option value="19">
             19
            </option>
            <option value="20">
             20
            </option>
            <option value="21">
             21
            </option>
            <option value="22">
             22
            </option>
            <option value="23">
             23
            </option>
            <option value="24">
             24
            </option>
            <option value="25">
             25
            </option>
            <option value="26">
             26
            </option>
            <option value="27">
             27
            </option>
            <option value="28">
             28
            </option>
            <option value="29">
             29
            </option>
            <option value="30">
             30
            </option>
            <option value="31">
             31
            </option>
           </select>

          </div>
         </div>
       </div>
      </div>
      <div class="form-required">
       <span class="emmaRequiredLabel">
        * = required field
       </span>
      </div>
      <div class="form-button">
       <input id="form-submit-input" name="Submit" type="submit" value="¡Submit!" class='outline-button'>
      </div>
     </form>
