<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Powered by BentoBox -->
  <!-- START header.html  -->

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  {% if current.slug == 'home' %}
  <title>{{ account.site.title }}</title>
  {% else %}
  <title>{{current.name}} - {{ account.site.title }}</title>
  {% endif %}

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7878896/6633212/css/fonts.css" />


  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link rel="stylesheet" href="{{ static('css/normalize.css') }}">
  <link rel="stylesheet" href="{{ static('css/skeleton.css') }}"> -->
  <link rel="stylesheet" href="{{ static('dist/style.css') }}">
  <link rel="stylesheet" href="{{ static('fonts/fonts.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
  <link rel="stylesheet" href="{{static('js/slick/slick.css')}}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" href="{{account.site.favicon}}">


  <!-- FACEBOOK SHARE -->
  <meta property="og:url"                content="{{current.request.absolute_url}}" />

  {% if current.meta_title %}
    <meta property="og:title"              content="{{current.meta_title}}" />
  {% endif %}
  {% if current.fields.SEO.title %}
    <meta property="og:title"              content="{{current.fields.SEO.title}}" />
  {% else %}
    <meta property="og:title"              content="{{current.name}}" />
  {% endif %}

  {% if current.meta_description %}
    <meta property="og:description"        content="{{current.meta_description}}" />
  {% endif %}
  {% if current.fields.SEO.description %}
    <meta property="og:description"        content="{{current.fields.SEO.description}}" />
  {% endif %}
  <meta property="og:type"               content="website" />
  <meta property="og:image"              content="{{current.fields.SEO.image.url}}" />

</head>

<body class="current-{{current.slug}}">
  <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
  <header id="masthead" class="site-header">
    <div class="site-branding">
      {% if(current.slug == 'home') %}
        <h1 class='branding-header-logo'>
      {% endif %}
        <a href="{{ account.site.url }}" id="masthead-logo">
          {% include "logo.html" %}
        </a>
      {% if(current.slug == 'home') %}
        </h1>
      {% endif %}
    </div><!-- .site-branding -->
    <a href="#site-navigation" id="skip-to-navigation-link" aria-expanded="true" aria-controls="site-navigation">
      {% include "hamburger.html" %}
      <span class="screen-reader-text">Toggle Menu</span>
    </a>

    <nav id="site-navigation" class="menu" aria-label="Main Site Navigation">

      <!-- Start navigation template
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <ul class="nav-menu">
        {% for item in navs.main %}
          {% if item.slug == 'restaurants' %}
            <li class="nav-item has-children {% if item.slug == current.box_type %}current_page{% endif %}">
              <a href="{{ item.url }}" aria-controls="{{ item.slug }}-dropdown" aria-expanded="false" data-url="{{ item.url }}" onClick="restClick(event)" class='toggle-restaurants'>
                {{ item.name }}
              </a>
              <ul class="nav-children" id="{{ item.slug }}-dropdown">
                <li class="nav-item child dupe">
                  <a href="{{ item.url }}">
                    All
                  </a>
                </li>
                {% for rests in boxes.restaurant.all %}
                <li class="nav-item child">
                  <a href="{{rests.url}}">
                    {{rests.name}}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </li>
          {% elif item.slug == 'the-mercado' %}
            <li class="nav-item has-children {% if item.slug == 'bars' or item.slug == 'kiosks' %}current_page{% endif %}">
              <a href="{{ item.url }}" aria-controls="{{ item.slug }}-dropdown" aria-expanded="false" data-url="{{ item.url }}" onClick="restClick(event)" class='toggle-restaurants'>
                {{ item.name }}
              </a>
              <ul class="nav-children" id="{{ item.slug }}-dropdown">
                <li class="nav-item child dupe">
                  <a href="{{ item.url }}">
                    All
                  </a>
                </li>

                <li class="nav-item child">
                  <a href="/kiosks">Kiosks</a>
                  <a href="/bars">Bars</a>
                </li>
              </ul>
            </li>
          {% else %}
            <li class="nav-item {% if item.url == current.url %}current_page{% endif %}">
              <a href="{{ item.url }}">{{ item.name }}</a>
            </li>
          {% endif %}
        {% endfor %}
        <li class="nav-item mobile-social-menu">
          <a href="{{account.services.facebook.url}}" target="_blank" class='social-fb'><img src="{{ static('img/Facebook.png') }}" alt="Facebook Icon"></a>
          <a href="{{account.services.twitter.url}}" target="_blank" class='social-twitter'><img src="{{ static('img/Twitter.png') }}" alt="Twitter Icon"></a>
          <a href="{{account.services.instagram.url}}" target="_blank" class='social-email'><img src="{{ static('img/instagram.png') }}" alt="Email Icon"></a>
        </li>
      </ul>
      <!-- End navigation template
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    </nav><!-- #primary-menu -->

    <nav id="mobile-site-nav" class="menu" aria-label="Main Site Navigation">
      <div class="mobile-nav-header">
        <a href="{{ account.site.url }}" class="mobile-nav-header-logo">
          {% include "logo_square.html" %}
        </a>
        <a href="#" class="mobile-nav-header-close" aria-expanded="true" aria-controls="site-navigation">
          × <span class="screen-reader-text">Close Menu</span>
        </a>
      </div>
      <ul class="nav-menu">
        {% for item in navs.main %}
          {% if item.slug == 'restaurants' %}
            <li class="nav-item has-children {% if item.slug == current.box_type %}current_page{% endif %}">
              <a href="{{ item.url }}" aria-controls="{{ item.slug }}-dropdown" aria-expanded="false" data-url="{{ item.url }}" onClick="restClick(event)" class='toggle-restaurants'>
                {{ item.name }}
              </a>
              <ul class="nav-children" id="{{ item.slug }}-dropdown">
                <li class="nav-item child dupe">
                  <a href="{{ item.url }}">
                    All
                  </a>
                </li>
                {% for rests in boxes.restaurant.all %}
                <li class="nav-item child">
                  <a href="{{rests.url}}">
                    {{rests.name}}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </li>
          {% elif item.slug == 'the-mercado' %}
            <li class="nav-item has-children {% if item.slug == 'bars' or item.slug == 'kiosks' %}current_page{% endif %}">
              <a href="{{ item.url }}" aria-controls="{{ item.slug }}-dropdown" aria-expanded="false" data-url="{{ item.url }}" onClick="restClick(event)" class='toggle-restaurants'>
                {{ item.name }}
              </a>
              <ul class="nav-children" id="{{ item.slug }}-dropdown">
                <li class="nav-item child dupe">
                  <a href="{{ item.url }}">
                    All
                  </a>
                </li>

                <li class="nav-item child">
                  <a href="/kiosks">Kiosks</a>
                </li>
                <li class="nav-item child">
                  <a href="/bars">Bars</a>
                </li>
              </ul>
            </li>
          {% else %}
            <li class="nav-item {% if item.url == current.url %}current_page{% endif %}">
              <a href="{{ item.url }}">{{ item.name }}</a>
            </li>
          {% endif %}
        {% endfor %}
        <li class="nav-item mobile-social-menu">
          <a href="{{account.services.facebook.url}}" target="_blank" class='social-fb'><img src="{{ static('img/Facebook.png') }}" alt="Facebook Icon"></a>
          <a href="{{account.services.twitter.url}}" target="_blank" class='social-twitter'><img src="{{ static('img/Twitter.png') }}" alt="Twitter Icon"></a>
          <a href="{{account.services.instagram.url}}" target="_blank" class='social-email'><img src="{{ static('img/instagram.png') }}" alt="Email Icon"></a>
        </li>
      </ul>
    </nav>

  </header><!-- #masthead -->

<!-- #content open -->
    <div id="content">

<!-- END header.html  -->
