<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{account.services.google_analytics.tracking_code}}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{account.services.google_analytics.tracking_code}}');
  </script>


  <!-- Powered by BentoBox -->
  <!-- START header.html  -->

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">

  {% if current.fields.SEO.title %}
    <title>{{current.fields.SEO.title}}</title>
  {% elif current.meta_title %}
    <title>{{current.meta_title}}</title>
  {% else %}
    <title>{{current.name}} - {{ account.site.title }}</title>
  {% endif %}

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7878896/6633212/css/fonts.css" />


  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link rel="stylesheet" href="{{ static('css/normalize.css') }}">
  <link rel="stylesheet" href="{{ static('css/skeleton.css') }}"> -->
  <link rel="stylesheet" href="{{ static('dist/style.css') }}">
  <link rel="stylesheet" href="{{ static('fonts/fonts.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
  <link rel="stylesheet" href="{{static('js/slick/slick.css')}}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" href="{{account.site.favicon}}">


  <meta property="og:site_name" content="{{account.site.title}}">
  <meta property="og:url"                content="{{current.request.absolute_url}}" />




  {% if current.fields.SEO.title %}
    <meta property="og:title"              content="{{current.fields.SEO.title}}" />
    <meta name="twitter:title" content="{{current.fields.SEO.title}}">
  {% elif current.meta_title %}
    <meta property="og:title"              content="{{current.meta_title}}}" />
    <meta name="twitter:title" content="{{current.meta_title}}">
  {% else %}
    <meta property="og:title"              content="{{current.name}} - {{ account.site.title }}}" />
    <meta name="twitter:title" content="{{current.name}} - {{ account.site.title }}">
  {% endif %}



  {% if current.fields.SEO.description %}
    <meta property="og:description"        content="{{current.fields.SEO.description}}" />
    <meta name="twitter:description" content="{{current.fields.SEO.description}}">
  {% else %}
    {% if current.box_type == "restaurant" %}
      <meta property="og:description"        content="{{current.fields.home_description}}" />
      <meta name="twitter:description" content="{{current.fields.home_description}}">
    {% else %}
      {% if current.fields.dek %}
        <meta property="og:description"        content="{{current.fields.dek}}" />
        <meta name="twitter:description" content="{{current.fields.dek}}">
      {% elif current.meta_description %}
        <meta property="og:description"        content="{{current.meta_description}}" />
        <meta name="twitter:description" content="{{current.meta_description}}">
      {% else %}
        <meta property="og:description"        content="{{account.site.meta_description}}" />
        <meta name="twitter:description" content="{{account.site.meta_description}}">
      {% endif %}
    {% endif %}
  {% endif %}

  <meta property="og:type"               content="website" />

  {% if current.fields.SEO.image.url %}
    <meta property="og:image"              content="{{current.fields.SEO.image.url}}" />
    <meta name="twitter:image" content="{{current.fields.SEO.image.url}}">
  {% else %}
    <meta property="og:image"              content="{{static('img/logo.png')}}" />
    <meta name="twitter:image" content="{{account.logo}}">

  {% endif %}

  {% if current.fields.SEO.keywords %}
    <meta property="keywords"        content="{{current.fields.SEO.keywords}}" />
  {% else %}
    <meta property="keywords"        content="{{account.site.meta_keywords}}" />
  {% endif %}


  <meta name="twitter:card" content="summary_large_image">


  <!-- Facebook Pixel Code -->
	<script>
  	!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  	n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
  	n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
  	t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
  	document,'script','https://connect.facebook.net/en_US/fbevents.js');
  	fbq('init', '{{account.services.facebook_pixel.id}}'); // Insert your pixel ID here.
  	fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none"
	src="https://www.facebook.com/tr?id={{account.services.facebook_pixel.id}}&ev=PageView&noscript=1"
	/>
  </noscript>
	<!-- DO NOT MODIFY -->
	<!-- End Facebook Pixel Code -->

</head>

<body class="current-{{current.slug}}">
  <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
  <header id="masthead" class="site-header">
    <div class="site-branding">
      {% if(current.slug == 'home') %}
        <h1 class='branding-header-logo'>
      {% endif %}
        <a href="{{ account.site.url }}" id="masthead-logo">
          {% include "logo.html" %}
        </a>
      {% if(current.slug == 'home') %}
        </h1>
      {% endif %}
    </div><!-- .site-branding -->
    <a href="#site-navigation" id="skip-to-navigation-link" aria-expanded="true" aria-controls="site-navigation">
      {% include "hamburger.html" %}
      <span class="screen-reader-text">Toggle Menu</span>
    </a>

    <nav id="site-navigation" class="menu" aria-label="Main Site Navigation">

      <!-- Start navigation template
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <ul class="nav-menu">
        {% for item in navs.main %}
          {% if item.slug == 'restaurants' %}
            <li class="nav-item has-children {% if current.box_type == 'restaurant'  or item.slug == current.slug %}current_page{% endif %}">
              <a href="{{ item.url }}" aria-controls="{{ item.slug }}-dropdown" aria-expanded="false" data-url="{{ item.url }}" onClick="restClick(event)" class='toggle-restaurants'>
                {{ item.name }}
              </a>
              <ul class="nav-children" id="{{ item.slug }}-dropdown">
                <li class="nav-item child dupe">
                  <a href="{{ item.url }}">
                    All
                  </a>
                </li>
                {% for rests in boxes.restaurant.all %}
                <li class="nav-item child">
                  <a href="{{rests.url}}">
                    {{rests.name}}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </li>
          {% elif item.slug == 'the-mercado' %}
            <li class="nav-item has-children {% if current.slug == 'bars' or current.slug == 'kiosks' or current.slug == 'the-mercado' %}current_page{% endif %}">
              <a href="{{ item.url }}" aria-controls="{{ item.slug }}-dropdown" aria-expanded="false" data-url="{{ item.url }}" onClick="restClick(event)" class='toggle-restaurants'>
                {{ item.name }}
              </a>
              <ul class="nav-children" id="{{ item.slug }}-dropdown">
                <li class="nav-item child dupe">
                  <a href="{{ item.url }}">
                    All
                  </a>
                </li>

                <li class="nav-item child">
                  <a href="/kiosks/#kiosks">Kiosks</a>
                </li>
                <li class="nav-item child">
                  <a href="/bars/#bars">Bars</a>
                </li>
                <li class="nav-item child">
                  <a href="/the-mercado/#mercado-map">Map</a>
                </li>
              </ul>
            </li>
          {% else %}
            <li class="nav-item {% if item.url == current.url %}current_page{% endif %}">
              <a href="{{ item.url }}">{{ item.name }}</a>
            </li>
          {% endif %}
        {% endfor %}
        <li class="nav-item mobile-social-menu">
          <a href="{{account.services.facebook.url}}" target="_blank" class='social-fb'><img src="{{ static('img/Facebook.png') }}" alt="Facebook Icon"></a>
          <a href="{{account.services.twitter.url}}" target="_blank" class='social-twitter'><img src="{{ static('img/Twitter.png') }}" alt="Twitter Icon"></a>
          <a href="{{account.services.instagram.url}}" target="_blank" class='social-email'><img src="{{ static('img/instagram.png') }}" alt="Email Icon"></a>
        </li>
      </ul>
      <!-- End navigation template
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    </nav><!-- #primary-menu -->

    <nav id="mobile-site-nav" class="menu" aria-label="Main Site Navigation">
      <div class="mobile-nav-header">
        <a href="{{ account.site.url }}" class="mobile-nav-header-logo">
          {% include "logo_square.html" %}
        </a>
        <a href="#" class="mobile-nav-header-close" aria-expanded="true" aria-controls="site-navigation">
          × <span class="screen-reader-text">Close Menu</span>
        </a>
      </div>
      <ul class="nav-menu">
        {% for item in navs.main %}
          {% if item.slug == 'restaurants' %}
            <li class="nav-item has-children {% if item.slug == current.box_type %}current_page{% endif %}">
              <a href="{{ item.url }}" aria-controls="{{ item.slug }}-dropdown" aria-expanded="false" data-url="{{ item.url }}" onClick="restClick(event)" class='toggle-restaurants'>
                {{ item.name }}
              </a>
              <ul class="nav-children" id="{{ item.slug }}-dropdown">
                <li class="nav-item child dupe">
                  <a href="{{ item.url }}">
                    All
                  </a>
                </li>
                {% for rests in boxes.restaurant.all %}
                <li class="nav-item child">
                  <a href="{{rests.url}}">
                    {{rests.name}}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </li>
          {% elif item.slug == 'the-mercado' %}
            <li class="nav-item has-children {% if item.slug == 'bars' or item.slug == 'kiosks' %}current_page{% endif %}">
              <a href="{{ item.url }}" aria-controls="{{ item.slug }}-dropdown" aria-expanded="false" data-url="{{ item.url }}" onClick="restClick(event)" class='toggle-restaurants'>
                {{ item.name }}
              </a>
              <ul class="nav-children" id="{{ item.slug }}-dropdown">
                <li class="nav-item child dupe">
                  <a href="{{ item.url }}">
                    All
                  </a>
                </li>

                <li class="nav-item child">
                  <a href="/kiosks/#kiosks">Kiosks</a>
                </li>
                <li class="nav-item child">
                  <a href="/bars/#bars">Bars</a>
                </li>
                <li class="nav-item child">
                  <a href="/the-mercado/#mercado-map">Map</a>
                </li>
              </ul>
            </li>
          {% else %}
            <li class="nav-item {% if item.url == current.url %}current_page{% endif %}">
              <a href="{{ item.url }}">{{ item.name }}</a>
            </li>
          {% endif %}
        {% endfor %}
        <li class="nav-item mobile-social-menu">
          <a href="{{account.services.facebook.url}}" target="_blank" class='social-fb'><img src="{{ static('img/Facebook.png') }}" alt="Facebook Icon"></a>
          <a href="{{account.services.twitter.url}}" target="_blank" class='social-twitter'><img src="{{ static('img/Twitter.png') }}" alt="Twitter Icon"></a>
          <a href="{{account.services.instagram.url}}" target="_blank" class='social-email'><img src="{{ static('img/instagram.png') }}" alt="Email Icon"></a>
        </li>
      </ul>
    </nav>

  </header><!-- #masthead -->

<!-- #content open -->
    <div id="content">

<!-- END header.html  -->
