<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Powered by BentoBox -->
  <!-- START header.html  -->

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %} - {{ account.site.title }}</title>

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7878896/6633212/css/fonts.css" />


  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link rel="stylesheet" href="{{ static('css/normalize.css') }}">
  <link rel="stylesheet" href="{{ static('css/skeleton.css') }}"> -->
  <link rel="stylesheet" href="{{ static('dist/style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
  <link rel="stylesheet" href="{{static('js/slick/slick.css')}}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" href="{{ account.site.favicon }}">



</head>

<body>
  <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
  <header id="masthead" class="site-header">
    <div class="site-branding">
      <a href="{{ account.site.url }}" id="masthead-logo">
        <svg>
          <use xlink:href="{{ static('img/symbols.svg#MLS_horizontal')}}"></use>
        </svg>
      </a>
    </div><!-- .site-branding -->
    <a href="#site-navigation" id="skip-to-navigation-link" aria-expanded="true" aria-controls="site-navigation">
      <svg>
        <use xlink:href="{{ '/assets/mercado/img/symbols.svg#hamburger-menu' }}"></use>
      </svg>
      <span class="screen-reader-text">Toggle Menu</span>
    </a>
    <nav id="site-navigation" class="menu">
      <div class="mobile-nav-header">
        <a href="{{ account.site.url }}" class="mobile-nav-header-logo">
          <svg>
            <use xlink:href="{{ static('img/symbols.svg#MLS_square')}}"></use>
          </svg>
        </a>
        <a href="#" class="mobile-nav-header-close" aria-expanded="true" aria-controls="site-navigation">
          × <span class="screen-reader-text">Close Menu</span>
        </a>
      </div>
      <!-- Start navigation template
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <ul class="nav-menu">
        {% for item in navs.main %}
        <!-- {{item}} -->
          {% if item.slug == 'restaurant' %}
            <li class="nav-item has-children {% if item.url == current.url %}current_page{% endif %}">
              <a href="{{ item.url }}" aria-controls="{{ item.slug }}-dropdown" aria-expanded="false" data-url="{{ item.url }}">
                {{ item.name }}
              </a>
              <ul class="nav-children" id="{{ item.slug }}-dropdown">
                <li class="nav-item child dupe">
                  <a href="{{ item.url }}">
                    All
                  </a>
                </li>
                {% for rests in boxes.restaurant.all %}
                <li class="nav-item child">
                  <a href="{{rests.url}}">
                    {{rests.name}}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li class="nav-item {% if item.url == current.url %}current_page{% endif %}">
              <a href="{{ item.url }}">{{ item.name }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <!-- End navigation template
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    </nav><!-- #primary-menu -->
  </header><!-- #masthead -->

<!-- #content open -->
    <div id="content">

<!-- END header.html  -->
