{% include "header.html" %}

<!-- index.html -->

<section class="home-hero">
  <img src="{{pages.by_slug.home.fields['home-hero-image'].image.url}}" alt="{{pages.by_slug.home.fields['home-hero-image'].image.alt}}">
</section>

<section class="home-description">
  <div class="content-margins">
    <div class="home-desc-inner">
      {{pages.by_slug.home.fields['home-desc'].description}}
      <a href="{{pages.by_slug.home.fields['home-desc'].link}}" class="more-info">{{pages.by_slug.home.fields['home-desc'].call_to_action}}</a>
    </div>
  </div>
</section>

<section class="home-restaurants-container">
  <div class="content-margins">
    <div class="section-title-container">
      <img src="{{ static('img/yellow_triangle.png')}}" alt="">
      <h2>Restaurants</h2>
    </div>
    <div class="home-restaurants">
      {% for rest in boxes.restaurant.all %}
        <div class="home-restaurant-box">
          <div class="home-rest-img">
            <!-- <div class="home-rest-img-cont"> -->
              <img src="{{rest.fields.gallery[0].image_url}}" alt="{{rest.fields.gallery[0].alt_text}}">
            <!-- </div> -->
          </div>
          <div class="home-rest-info">
            <div class="home-rest-name">
              <h4>{{rest.name}}</h4>
            </div>
            <div class="home-rest-caption">
              {{rest.fields.home_description}}
              <div class="home-rest-links">
                <a href="{{rest.url}}" class="more-info">Visit</a>
                <a href="" class='more-info'>Reserve</a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="home-mercado">
  <div class="content-margins">
    <div class="section-title-container">
      <img src="{{ static('img/yellow_triangle.png')}}" alt="">
      <h2>The Mercado</h2>
    </div>

    <div class="home-mercado-kiosks">
      {% for kiosk in boxes.kiosks.all %}
        <div class="home-mercado-kiosk">
          <a href="{{kiosk.url}}">
            <div class="home-mercado-kiosk-img">
              <img src="{{kiosk.fields.thumbnail_left.url}}" alt="{{kiosk.fields.thumbnail_left.alt}}">
              <h6>{{kiosk.fields.hover_text}}</h6>
            </div>
            <h5>{{kiosk.name}}</h5>
          </a>
        </div>
      {% endfor %}
    </div>

  </div>
</section>

<section class="home-happenings">
  <div class="content-margins">
    <div class="section-title-container">
      <img src="{{ static('img/yellow_triangle.png')}}" alt="">
      <h2>Happenings</h2>
    </div>

    <div class="happenings-events">
      {% for event in boxes.events.all %}

        <a href="{{event.url}}" class="happenings-event">
          <div class='happenings-upper'>
            <h6>{{event.starts|date('%B %d')}}</h6>
            <h3>{{event.name}}</h3>
            <p>{{event.fields.dek}}</p>
          </div>
          <div class="happenings-img">
            <img src="{{event.image.url}}" alt="{{event.image.alt_text}}">
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</section>

<section class="home-shop">
  <div class="content-margins">
    <div class="section-title-container">
      <img src="{{ static('img/yellow_triangle.png')}}" alt="">
      <h2>Shop</h2>
    </div>

    <div class="home-shop-cont">
      <div class="shop-little-spain-shops kiosk-grid">
        <article class="kiosk-box">
          <a href="/shop/#shop-little-spain">
            <div class="kiosk-box-img">

              <img src="{{pages.by_slug.shop.fields['shop-products'].products[0].image.url}}" alt="{{pages.by_slug.shop.fields['shop-products'].products[0].image.alt}}">

            </div>
            <h6>Shop Little Spain</h6>
          </a>
        </article>

        <article class="kiosk-box">
          <a href="/shop/#shop-online">
            <div class="kiosk-box-img kiosk-bordered-img">
              <img src="{{pages.by_slug.shop.fields['online-products'].products[0].image.url}}" alt="">

            </div>
            <h6>Shop Online</h6>
          </a>
        </article>

        <article class="kiosk-box">
          <a href="/shop/#gift-cards">
            <div class="gift-card-img">
              <div class="gift-card-img-text">
                <span>Give the Gift of Little Spain</span>
              </div>
            </div>
            <h6>Gift Cards</h6>
          </a>
        </article>


      </div>
    </div>
  </div>
</section>

<section class="home-el-blog">
  <div class="content-margins">
    <div class="section-title-container">
      <img src="{{ static('img/yellow_triangle.png')}}" alt="">
      <h2>El Blog</h2>
    </div>

    <div class="home-el-blog-posts blog-articles-container">
      {% for post in boxes.blog.all %}
      <article class='blog-post'>
        <div class="image">
          <a href='{{post.url}}'>
            <img src="{{ post.image.url }}" alt='{{post.image.alt}}'>
          </a>
        </div>
        <div class="info">
          <a href='{{post.url}}'>
            <p class="blog-post__tag">{{ post.categories[0].name }}</p>
            <h1 class="blog-post__title">{{ post.title }}</h1>
            <p class="blog-post__desc">{{ post.fields.dek }}</p>
          </a>
        </div>
      </article>
      {% endfor %}
    </div>
  </div>
</section>

<section class="ig-feed">
  <div class="content-margins">
    <div class="ig-boxes">
      <div class="ig-box edge-box">
        <h5>¿Que hacen en el Mercado?</h5>
      </div>

      <div class="ig-box edge-box edge-box-tail">
        <h5><a href="https://www.instagram.com/littlespain/" target='_blank'>Little Spain on Instagram</a></h5>
      </div>
    </div>
  </div>
</section>



{% include "footer.html" %}
