<!-- START newsletter_popup.html -->
<aside id="newsletter-popup" class="site-modal" aria-role="dialog" aria-hidden="true" aria-labelledby="newsletter-popup-title">
  <a href="#" id="newsletter-popup-close" aria-controls="newsletter-popup" aria-expanded="false">
    × <span class="screen-reader-text">Close Menu</span>
  </a>
  <div class="content-margins">
    <h2 id="newsletter-popup-title">
      Can we get an hola
    </h2>
    <p id="newsletter-popup-blurb">
      Subscribe and be the first to hear about everything Little Spain
    </p>
    <form id="newsletter-popup-capture">
      <label>
        <span class="screen-reader-text">Your email: </span>
        <input type="email" class="red-input inverted" placeholder="¡Your Email!">
      </label>
      <button class="outline-button inverted" type="submit">
        Submit
      </button>
    </form>
  </div>
</aside>
<!-- END newsletter_popup.html -->