<!-- START newsletter_popup.html -->
<aside id="newsletter-popup" class="site-modal" aria-role="dialog" aria-hidden="true" aria-labelledby="newsletter-popup-title" tabindex="-1">
  <a id="newsletter-popup-close" aria-controls="newsletter-popup" aria-expanded="false">
    × <span class="screen-reader-text">Close Menu</span>
  </a>
  <div class="content-margins">
    <div class="newsletter-sign-up-form">
      <h2 id="newsletter-popup-title">
        Can we get an hola
      </h2>
      <p id="newsletter-popup-blurb">
        Subscribe and be the first to hear about everything Little Spain.
      </p>


      <!-- <form action="https://app.e2ma.net/app2/audience/signup/1873742/1887124/?r=signup" id="signup" method="post" name="signup" class="newsletter-capture-form">
        <input id="id_prev_member_email" name="prev_member_email" type="hidden">
        <input id="id_source" name="source" type="hidden">
        <input name="prev_member_email" type="hidden" value="">
        <div class="form-fields__fields-wrapper">
         <div class="field">
          <div class="field-html ">
           <input  id="id_email" type="email" class="red-input inverted" placeholder="¡Your Email!" name="email">
          </div>
         </div>
        </div>

        <div class="form-button">
         <input id="form-submit-input" name="Submit" type="submit" value="Submit" class='outline-button inverted'>
        </div>
       </form> -->

      {% include 'form.html' %}


    </div>
    <div class="newsletter-success-msg">
      <h3>¡Gracias y hasta pronto!</h3>
    </div>
  </div>
</aside>
<!-- END newsletter_popup.html -->
