{% include "header.html" %}
<article class='standard-page' id="standard-page">
<!-- START our_story.html  -->
<section class="standard-page-content">

{% for field in current.fields.flexible.content %}



{% if field.section_type == "Standard Content" %}
<div class='standard-content'>

  <div class="content-margins">
{{field.content_box.content}}
</div>
  </div>
{% endif %}



{% if field.section_type == "Full Width Header Container" %}
<section class="full-width-header">
  <div class="full-width-header-content">
    <div class="full-width-header-content-inner">
      {{field.full_width_header_box.content}}
    </div>
  </div>
  <div class="full-width-header-img">
    <img src="{{field.full_width_header_box.image.url}}" alt="">
  </div>
</section>

{% endif %}


{% if field.section_type == "Gallery Container" %}

{{field.section_type}}

{% endif %}


{% if field.section_type == "Full Screen Image" %}
<div class='wide-content'>

<figure>
  <img src="{{field.wide_image.image.url}}" alt={% if field.wide_image.image.alt == "" %}"{{field.wide_image.caption}}"{% else %} "{{field.wide_image.image.alt}}" {% endif %} />
  <figcaption>{{field.wide_image.caption}}</figcaption>
</figure>

</div>

{% endif %}

{% if field.section_type == "Featured Boxes" %}

{{field.section_type}}

{% endif %}

{% endfor %}

</section>

<section id='featured_press'>
<div class='content-margins'>
  <div class="section-title-container">
    <img src="{{ static('img/yellow_triangle.png')}}" alt="triangle header">
    <h2>What the Periodicos<br/>are saying</h2>
  </div>
  <div class='press_features'>
    {% for press in boxes.press.all %}
    <a href='' target="_blank">

      <div class='individual_press'>

      <img src='{{press.image.url}}' alt='{{press.source}} logo' />
      <h3>"{{press.name}}"</h3>

    </div>
  </a>

    {% endfor %}
  </div>
</div>
</section>
</article>
<!-- END base.html  -->
{% include "footer.html" %}
