{% include "header.html" %}
<article class='standard-page' id="standard-page">
<!-- START our_story.html  -->
<section class="standard-page-content">

{% for field in current.fields.flexible.content %}



{% if field.section_type == "Standard Content" %}
<div class='standard-content'>

  <div class="content-margins">
{{field.content_box.content}}
</div>
  </div>
{% endif %}



{% if field.section_type == "Full Width Header Container" %}
<section class="full-width-header">
  <div class="full-width-header-content">
    <div class="full-width-header-content-inner">
      {{field.full_width_header_box.content}}
    </div>
  </div>
  <div class="full-width-header-img">
    <img src="{{field.full_width_header_box.image.url}}" alt="{{field.full_width_header_box.image.alt_text}}">
  </div>
</section>

{% endif %}


{% if field.section_type == "Gallery Container" %}


<section class="content-gallery">
  <div class="content-margins">
    <div class="content-gallery-inner">
      {% for image in field.gallery_box.gallery %}
      <div class="rest-single-gallery-img-cont">
        <div class="rest-single-gallery-img">
          <img src="{{image.image_url}}" alt="{{image.alt_text}}" class='rest-single-img'>
          <div class="rest-single-gallery-controls home-slide-controls">
            <button class="rest-slide-prev home-slide-prev" role='button'>
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 25.9 45.2" style="enable-background:new 0 0 25.9 45.2;" xml:space="preserve">

              <polyline class="st0" points="4.1,1.7 21.9,22.7 4.1,43.6 "/>
              </svg>
            </button>
            <button class="rest-slide-next" role='button'>
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 25.9 45.2" style="enable-background:new 0 0 25.9 45.2;" xml:space="preserve">
              <polyline class="st0" points="4.1,1.7 21.9,22.7 4.1,43.6 "/>
              </svg>
            </button>
            <div class="rest-slide-current">
              {{loop.index}}/{{field.gallery_box.gallery|length}}
              {% if image.alt_text %}
                <span>{{image.alt_text}}</span>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>


{% endif %}


{% if field.section_type == "Full Screen Image" %}
<div class='wide-content'>

<figure>
  <img src="{{field.wide_image.image.url}}" alt={% if field.wide_image.image.alt == "" %}"{{field.wide_image.caption}}"{% else %} "{{field.wide_image.image.alt}}" {% endif %} />
  <figcaption>{{field.wide_image.caption}}</figcaption>
</figure>

</div>

{% endif %}

{% if field.section_type == "Featured Boxes" %}

{{field.section_type}}

{% endif %}

{% endfor %}

</section>

<section id='featured_press'>
<div class='content-margins'>
  <div class="section-title-container">
    <img src="{{ static('img/yellow_triangle.png')}}" alt="triangle header">
    <h2>What the Periodicos<br/>are saying</h2>
  </div>
  <div class='press_features'>
    {% for press in boxes.press.all %}
    <a href='' target="_blank">

      <div class='individual_press'>

      <img src='{{press.image.url}}' alt='{{press.source}} logo' />
      <h3>"{{press.name}}"</h3>

    </div>
  </a>

    {% endfor %}
  </div>
</div>
</section>
</article>
<!-- END base.html  -->
{% include "footer.html" %}
