{% include "header.html" %}

<!-- the mercado -->

<section class="full-width-header">
  <div class="full-width-header-content">
    <div class="full-width-header-content-inner">
      <h1>The Mercado</h1>
      {{pages.by_slug['the-mercado'].fields.mercado.header_content}}
    </div>
  </div>
  <div class="full-width-header-img">
    <img src="{{pages.by_slug['the-mercado'].fields.mercado.image.url}}" alt="{{pages.by_slug['the-mercado'].fields.mercado.image.alt_text}}">
  </div>
</section>

<section class="mls-mercado-map-img">
  <div class="content-margins">
    <a href="{{static('img/Map.jpg')}}" target="_blank"><img src="{{static('img/Map.jpg')}}" alt="Little Spain Map"></a>
  </div>
</section>


{% if current.name == "Bars" %}
<section class="mercado-bars" id='bars'>
  <div class="content-margins">
    <div class="section-title-container">
      <img src="{{ static('img/yellow_triangle.png')}}" alt="">
      <h2>Bars</h2>
    </div>

    <div class="bars-grid">
        {% for bar in boxes.bar.all %}
        <article class="kiosk-box">
          <a href="{{bar.url}}">
            <div class="kiosk-box-img">
              <img src="{{bar.fields.global_icon.url}}" alt="{{bar.fields.global_icon.alt_text}}">
              <div class="kiosk-bar-hover-img">
                <img src="{{bar.fields.gallery[0].image_url}}" alt="">
                <div class="img-fade"></div>
                <h4>{{bar.fields.hover_text}}</h4>
              </div>
            </div>
            <h6>{{bar.name}}</h6>
          </a>
        </article>
        {% endfor %}
    </div>

  </div>
</section>

{% endif %}


<section class="mercado-kiosks" id='kiosks'>
  <div class="content-margins">
    <div class="section-title-container">
      <img src="{{ static('img/yellow_triangle.png')}}" alt="">
      <h2>Kiosks</h2>
    </div>

    <div class="kiosk-grid">
        {% for kiosk in boxes.kiosks.all %}
        <article class="kiosk-box">
          <a href="{{kiosk.url}}">
            <div class="kiosk-box-img">
              <img src="{{kiosk.fields.global_icon.url}}" alt="{{kiosk.fields.global_icon.alt_text}}">
              <div class="kiosk-bar-hover-img">
                <img src="{{kiosk.fields.gallery[0].image_url}}" alt="">
                <div class="img-fade"></div>
                <h4>{{kiosk.fields.hover_text}}</h4>
              </div>
            </div>
            <h6>{{kiosk.name}}</h6>
          </a>
        </article>
        {% endfor %}
    </div>

  </div>
</section>

{% if current.name != "Bars" %}
<section class="mercado-bars" id='bars'>
  <div class="content-margins">
    <div class="section-title-container">
      <img src="{{ static('img/yellow_triangle.png')}}" alt="">
      <h2>Bars</h2>
    </div>

    <div class="bars-grid">
        {% for bar in boxes.bar.all %}
        <article class="kiosk-box">
          <a href="{{bar.url}}">
            <div class="kiosk-box-img">
              <img src="{{bar.fields.global_icon.url}}" alt="{{bar.fields.global_icon.alt_text}}">
              <div class="kiosk-bar-hover-img">
                <img src="{{bar.fields.gallery[0].image_url}}" alt="">
                <div class="img-fade"></div>
                <h4>{{bar.fields.hover_text}}</h4>
              </div>
            </div>
            <h6>{{bar.name}}</h6>
          </a>
        </article>
        {% endfor %}
    </div>

  </div>
</section>
{% endif %}

<section class="ig-feed">
  <div class="content-margins">
    <div class="ig-boxes">
      <div class="ig-box edge-box">
        <h5>¿Que hacen en el Mercado?</h5>
      </div>

      <div class="ig-box edge-box edge-box-tail">
        <h5><a href="https://www.instagram.com/littlespain/" target='_blank'>Little Spain on Instagram</a></h5>
      </div>
    </div>
  </div>
</section>


{% include "footer.html" %}
