{% include "header.html" %}

<!-- the mercado -->

<section class="full-width-header">
  <div class="full-width-header-content">
    <div class="full-width-header-content-inner">
      <h1>The Mercado</h1>
      {{pages.by_slug['the-mercado'].fields.mercado.header_content}}
    </div>
  </div>
  <div class="full-width-header-img">
    <img src="{{pages.by_slug['the-mercado'].fields.mercado.image.url}}" alt="{{pages.by_slug['the-mercado'].fields.mercado.image.alt_text}}">
  </div>
</section>

<!-- <section class="mls-mercado-map-img" id='mercado-map'>
  <div class="content-margins">
    <a href="{{static('img/Map.jpg')}}" target="_blank"><img src="{{static('img/Map.jpg')}}" alt="Little Spain Map"></a>
  </div>
</section> -->

<section  id='mercado-map'>
  <div class="mercado-map-filter">
    <h4>Filter By</h4>
    <div class="map-filter-box">
      <div class="selected-filter">Kiosks</div>
      <div class="other-filters">

      </div>

    </div>
    <div class="map-filter-box">
      <div class="selected-filter">Shop</div>
    </div>
    <div class="map-filter-box">
      <div class="selected-filter">Bar</div>
      <div class="other-filters">

      </div>
    </div>
  </div>

    <div class="mercado-map-box">
      <div class="mercado-map-cont">
        {% include 'MLS_map.svg' %}
        <div class="mercado-map-hover-box">
          <img src="" alt="">
          <span></span>
        </div>
        <div class="mercado-map-more-info-boxes">

          {% for restaurant in boxes.restaurant.all%}
            <div class="map-more-info-box" id='map-more-info-{{restaurant.slug}}'>
              <div class="map-more-info-banner">
                <img src="{{static('img/restaurant-landing/Left.png')}}" alt="">
                <h6>{{restaurant.name}}</h6>
                <img src="{{static('img/restaurant-landing/Right.png')}}" alt="">
              </div>
              <div class="map-more-info-box-desc">
                <div class="map-more-info-img">
                  <img src="{{restaurant.fields.gallery[0].image_url}}" alt="" class="">
                </div>
                <div class="map-more-info-content">
                  {{restaurant.fields.home_description}}
                  <a href="{{restaurant.url}}">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                       viewBox="0 0 31.5 31.5" style="enable-background:new 0 0 31.5 31.5;" xml:space="preserve">
                    <path class="blog-arrow" d="M18.7,5c-0.4-0.4-1.1-0.4-1.6,0c-0.4,0.4-0.4,1.1,0,1.6l8,8H3.6c-0.6,0-1.1,0.5-1.1,1.1s0.5,1.1,1.1,1.1h21.5
                      l-8,8c-0.4,0.4-0.4,1.2,0,1.6c0.4,0.4,1.2,0.4,1.6,0l10-10c0.4-0.4,0.4-1.1,0-1.6L18.7,5z"/>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          {% endfor %}

          {% for kiosk in boxes.kiosks.all %}
            <div class="map-more-info-box" id='map-more-info-{{kiosk.slug}}'>
              <div class="map-more-info-banner">
                <img src="{{kiosk.fields.global_icon.url}}" alt="{{kiosk.fields.global_icon.alt}}">
                <h6>{{kiosk.name}}</h6>
                <div class="map-more-info-banner-right">
                  {{kiosk.fields.hover_text}}
                </div>
              </div>
              <div class="map-more-info-box-desc">
                <div class="map-more-info-img">
                  <img src="{{kiosk.fields.gallery[0].image_url}}" alt="" class="">
                </div>
                <div class="map-more-info-content">
                  {{kiosk.fields.short_description}}
                  <a href="{{kiosk.url}}">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                       viewBox="0 0 31.5 31.5" style="enable-background:new 0 0 31.5 31.5;" xml:space="preserve">
                    <path class="blog-arrow" d="M18.7,5c-0.4-0.4-1.1-0.4-1.6,0c-0.4,0.4-0.4,1.1,0,1.6l8,8H3.6c-0.6,0-1.1,0.5-1.1,1.1s0.5,1.1,1.1,1.1h21.5
                      l-8,8c-0.4,0.4-0.4,1.2,0,1.6c0.4,0.4,1.2,0.4,1.6,0l10-10c0.4-0.4,0.4-1.1,0-1.6L18.7,5z"/>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          {% endfor %}

          {% for kiosk in boxes.bar.all %}
            <div class="map-more-info-box" id='map-more-info-{{kiosk.slug}}'>
              <div class="map-more-info-banner">
                <img src="{{kiosk.fields.global_icon.url}}" alt="{{kiosk.fields.global_icon.alt}}">
                <h6>{{kiosk.name}}</h6>
                <div class="map-more-info-banner-right">
                  {{kiosk.fields.hover_text}}
                </div>
              </div>
              <div class="map-more-info-box-desc">
                <div class="map-more-info-img">
                  <img src="{{kiosk.fields.gallery[0].image_url}}" alt="" class="">
                </div>
                <div class="map-more-info-content">
                  {{kiosk.fields.short_description}}
                  <a href="{{kiosk.url}}">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                       viewBox="0 0 31.5 31.5" style="enable-background:new 0 0 31.5 31.5;" xml:space="preserve">
                    <path class="blog-arrow" d="M18.7,5c-0.4-0.4-1.1-0.4-1.6,0c-0.4,0.4-0.4,1.1,0,1.6l8,8H3.6c-0.6,0-1.1,0.5-1.1,1.1s0.5,1.1,1.1,1.1h21.5
                      l-8,8c-0.4,0.4-0.4,1.2,0,1.6c0.4,0.4,1.2,0.4,1.6,0l10-10c0.4-0.4,0.4-1.1,0-1.6L18.7,5z"/>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          {% endfor %}
          {% for kiosk in boxes.shop.all %}
            <div class="map-more-info-box" id='map-more-info-{{kiosk.slug}}'>
              <div class="map-more-info-banner">
                <img src="{{kiosk.fields.global_icon.url}}" alt="{{kiosk.fields.global_icon.alt}}">
                <h6>{{kiosk.name}}</h6>
                <div class="map-more-info-banner-right">
                  {{kiosk.fields.hover_text}}
                </div>
              </div>
              <div class="map-more-info-box-desc">
                <div class="map-more-info-img">
                  <img src="{{kiosk.fields.gallery[0].image_url}}" alt="" class="">
                </div>
                <div class="map-more-info-content">
                  {{kiosk.fields.short_description}}
                  <a href="{{kiosk.url}}">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                       viewBox="0 0 31.5 31.5" style="enable-background:new 0 0 31.5 31.5;" xml:space="preserve">
                    <path class="blog-arrow" d="M18.7,5c-0.4-0.4-1.1-0.4-1.6,0c-0.4,0.4-0.4,1.1,0,1.6l8,8H3.6c-0.6,0-1.1,0.5-1.1,1.1s0.5,1.1,1.1,1.1h21.5
                      l-8,8c-0.4,0.4-0.4,1.2,0,1.6c0.4,0.4,1.2,0.4,1.6,0l10-10c0.4-0.4,0.4-1.1,0-1.6L18.7,5z"/>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          {% endfor %}


        </div>
      </div>
    </div>

</section>



{% if current.name == "Bars" %}
<section class="mercado-bars" id='bars'>
  <div class="content-margins">
    <div class="section-title-container">
      <img src="{{ static('img/yellow_triangle.png')}}" alt="">
      <h2>Bars</h2>
    </div>

    <div class="bars-grid">
        {% for bar in boxes.bar.all %}
        <article class="kiosk-box">
          <a href="{{bar.url}}">
            <div class="kiosk-box-img">
              <img src="{{bar.fields.global_icon.url}}" alt="{{bar.fields.global_icon.alt_text}}">
              <div class="kiosk-bar-hover-img">
                <img src="{{bar.fields.gallery[0].image_url}}" alt="">
                <div class="img-fade"></div>
                <h4>{{bar.fields.hover_text}}</h4>
              </div>
            </div>
            <h6>{{bar.name}}</h6>
          </a>
        </article>
        {% endfor %}
    </div>

  </div>
</section>

{% endif %}


<section class="mercado-kiosks" id='kiosks'>
  <div class="content-margins">
    <div class="section-title-container">
      <img src="{{ static('img/yellow_triangle.png')}}" alt="">
      <h2>Kiosks</h2>
    </div>

    <div class="kiosk-grid">
        {% for kiosk in boxes.kiosks.all %}
        <article class="kiosk-box">
          <a href="{{kiosk.url}}">
            <div class="kiosk-box-img">
              <img src="{{kiosk.fields.global_icon.url}}" alt="{{kiosk.fields.global_icon.alt_text}}">
              <div class="kiosk-bar-hover-img">
                <img src="{{kiosk.fields.gallery[0].image_url}}" alt="">
                <div class="img-fade"></div>
                <h4>{{kiosk.fields.hover_text}}</h4>
              </div>
            </div>
            <h6>{{kiosk.name}}</h6>
          </a>
        </article>
        {% endfor %}
    </div>

  </div>
</section>

{% if current.name != "Bars" %}
<section class="mercado-bars" id='bars'>
  <div class="content-margins">
    <div class="section-title-container">
      <img src="{{ static('img/yellow_triangle.png')}}" alt="">
      <h2>Bars</h2>
    </div>

    <div class="bars-grid">
        {% for bar in boxes.bar.all %}
        <article class="kiosk-box">
          <a href="{{bar.url}}">
            <div class="kiosk-box-img">
              <img src="{{bar.fields.global_icon.url}}" alt="{{bar.fields.global_icon.alt_text}}">
              <div class="kiosk-bar-hover-img">
                <img src="{{bar.fields.gallery[0].image_url}}" alt="">
                <div class="img-fade"></div>
                <h4>{{bar.fields.hover_text}}</h4>
              </div>
            </div>
            <h6>{{bar.name}}</h6>
          </a>
        </article>
        {% endfor %}
    </div>

  </div>
</section>
{% endif %}

<section class="ig-feed">
  <div class="content-margins">
    <div class="ig-boxes">
      <div class="ig-box edge-box">
        <h5>¿Que hacen en el Mercado?</h5>
      </div>

      <div class="ig-box edge-box edge-box-tail">
        <h5><a href="https://www.instagram.com/littlespain/" target='_blank'>Little Spain on Instagram</a></h5>
      </div>
    </div>
  </div>
</section>


{% include "footer.html" %}
